force-app/main/default/flows/Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Disponibili_Valori_Input</name>
        <label>Disponibili Valori Input?</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Recupera_Fattura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Usa Lookup</defaultConnectorLabel>
        <rules>
            <name>Usa_Input</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_skip_lookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_totale_fattura</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_totale_durata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_totale_visite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_totale_biglietti</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_totali_budget_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_totali_donatore_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Valori_Da_Input</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici Fattura Shadow - autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici Fattura Shadow - autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Fattura</name>
        <label>Recupera Fattura</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Valori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fattura_Shadow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Valori</name>
        <label>Aggiorna Valori</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Totale_Durata_Visite_Static__c</field>
            <value>
                <elementReference>Recupera_Fattura.Total_Duration_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Fattura_Static__c</field>
            <value>
                <elementReference>Recupera_Fattura.Totale_Fattura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Biglietti_Static__c</field>
            <value>
                <elementReference>Recupera_Fattura.Totale_Biglietti__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Visite_Static__c</field>
            <value>
                <elementReference>Recupera_Fattura.Total_Number_of_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>Recupera_Fattura.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>Recupera_Fattura.Reporting_Year__r.Totali_Donatore_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fattura_Shadow__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Valori_Da_Input</name>
        <label>Aggiorna Valori Da Input</label>
        <locationX>400</locationX>
        <locationY>134</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Totale_Durata_Visite_Static__c</field>
            <value>
                <elementReference>input_totale_durata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Fattura_Static__c</field>
            <value>
                <elementReference>input_totale_fattura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Biglietti_Static__c</field>
            <value>
                <elementReference>input_totale_biglietti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Visite_Static__c</field>
            <value>
                <elementReference>input_totale_visite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>input_totali_budget_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>input_totali_donatore_id</elementReference>
            </value>
        </inputAssignments>
        <object>Fattura_Shadow__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disponibili_Valori_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input_skip_lookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_totale_biglietti</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>input_totale_durata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>input_totale_fattura</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>input_totale_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>input_totali_budget_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_totali_donatore_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
