force-app/main/default/flows/Aggiorna_Valori_Statici_Pagamento_Shadow_autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Totali_in_input</name>
        <label>Totali in input?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Valori_da_pagamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totali_budget_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Valori</targetReference>
            </connector>
            <label>Input</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici Pagamento Shadow - autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici Pagamento Shadow - autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Pagamento</name>
        <label>Recupera Pagamento</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Pagamento_Shadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pagamento_Shadow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Pagamento_Shadow</name>
        <label>Recupera Pagamento Shadow</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Totali_Budget_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pagamento_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Totali_Budget_Anno</name>
        <label>Recupera Totali Budget Anno</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Totali_in_input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Pagamento.Overview_Budget_per_Anno__r.Totali_Budget_Anno__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Totali_Budget_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Valori</name>
        <label>Aggiorna Valori</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Static__c</field>
            <value>
                <elementReference>Recupera_Pagamento.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Static__c</field>
            <value>
                <elementReference>Recupera_Pagamento.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>totali_budget_id</elementReference>
            </value>
        </inputAssignments>
        <object>Pagamento_Shadow__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Valori_da_pagamento</name>
        <label>Aggiorna Valori</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Static__c</field>
            <value>
                <elementReference>Recupera_Pagamento.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Static__c</field>
            <value>
                <elementReference>Recupera_Pagamento.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Pagamento_Shadow__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Pagamento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totali_budget_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
