force-app/main/default/flows/Aggiorna_Valori_Statici_Transazione_Shadow_autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici Transazione Shadow - autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici Transazione Shadow - autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Transazione</name>
        <label>Recupera Transazione</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Transazione_Shadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transazione_Shadow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Transazione_Shadow</name>
        <label>Recupera Transazione Shadow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Valori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transazione_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Valori</name>
        <label>Aggiorna Valori</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocabile_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Allocabile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocazioni_NON_Pagate_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Allocazioni_NON_Pagate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donato_Originale_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Donato_Originale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Allocazioni_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Numero_Allocazioni__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_NON_Pagato_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Totale_Allocato_NON_Pagato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_Pagato_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Totale_Allocato_Pagato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_Static__c</field>
            <value>
                <elementReference>Recupera_Transazione_Shadow.Totale_Allocato__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transazione_Shadow__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Transazione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
