force-app/main/default/flows/Aggiorna_Valori_Statici_per_Programma.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Valori_Statici</name>
        <label>Assegna Valori Statici</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Ammontare_Originale_Donato_Anno_Corrente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Donato_Originale_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Total_Invoice_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Totale_Fattura_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Current_Year_Donation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Allocabile_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Current_Year_Donation_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Totale_Numero_Donazioni_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Totale_Numero_di_Fatture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Totale_Numero_Fatture_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Total_Minutes_of_Visits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Totale_Durata_Visite_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Donatore_Anno.Total_Visits_done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_su_Donatore_Anno.Totale_Numero_di_Visite_formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Valori_Statici</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici per Programma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici per Programma</label>
    <loops>
        <name>Loop_su_Donatore_Anno</name>
        <label>Loop su Donatore Anno</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Recupera_Overview_Donatore_Anno</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Valori_Statici</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Overview_Donatore_Anno</name>
        <label>Recupera Overview Donatore Anno</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Valori_Statici</name>
        <label>Aggiorna Valori Statici</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_su_Donatore_Anno</targetReference>
        </connector>
        <inputReference>Loop_su_Donatore_Anno</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Overview_Donatore_Anno</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
