force-app/main/default/flows/Aggiorna_Budget_Anno_su_Distribuzioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza_transazione</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!loop_su_distribuzioni.GiftTransaction.Data_di_Competenza__c}))</expression>
    </formulas>
    <formulas>
        <name>anno_distribuzione</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!loop_su_distribuzioni.Data_di_Distribuzione__c}))</expression>
    </formulas>
    <interviewLabel>Aggiorna Budget Anno su Distribuzioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Budget/Donatore Anno su Distribuzioni</label>
    <loops>
        <name>loop_su_distribuzioni</name>
        <label>loop su distribuzioni</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>recupera_distribuzioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cerca_Overview_Budget_Anno</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Cerca_Overview_Budget_Anno</name>
        <label>Cerca Overview Budget Anno</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cerca_Overview_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_su_distribuzioni.GiftDesignation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_distribuzione</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cerca_Overview_Donatore_Anno</name>
        <label>Cerca Overview Donatore Anno</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Distribuzione_con_Overview_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_su_distribuzioni.GiftTransaction.Donor.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno_overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza_transazione</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recupera_distribuzioni</name>
        <label>recupera distribuzioni</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_su_distribuzioni</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Distribuzione_con_Overview_Anno</name>
        <label>Aggiorna Distribuzione con Overview Anno</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>loop_su_distribuzioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_su_distribuzioni.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Cerca_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_Donatore_per_Anno__c</field>
            <value>
                <elementReference>Cerca_Overview_Donatore_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransactionDesignation</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recupera_distribuzioni</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <triggerOrder>500</triggerOrder>
</Flow>
