force-app/main/default/flows/Allinea_Donatore_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Anno</name>
        <label>Anno</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>lista_Anni_reportistica</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ottieni_anno_singolo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donor_overview_id_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore_singolo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>program_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore_singolo.Programma__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Overview_Donatore_Finale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lista_Anni</name>
        <label>Lista Anni</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>lista_Anni_reportistica</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Anni_Reportistica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donor_overview_id_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overviewDonatoreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>program_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore.Programma__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Overview_Donatore_Finale</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esiste_Totale</name>
        <label>Esiste Totale?</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Crea_Totali_Donatore_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Totali_Donatore_Anno.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_su_Anni</targetReference>
            </connector>
            <label>Si esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nome_Donatore_Anno_Cambiato</name>
        <label>Nome Donatore Anno Cambiato?</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Totali_Donatore_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambiato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Overview_Donatore_Anno.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>donor_year_overview_name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Nome</targetReference>
            </connector>
            <label>Cambiato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overview_esiste</name>
        <label>Overview esiste?</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Crea_Overview_Donatore_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Overview_Donatore_Anno.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overview_Programma_o_per_Anno</name>
        <label>Overview Programma o per Anno?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Overview_Donatore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Per_anno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>overviewDonatoreId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donatoreAnnoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Overview_Anno_singolo</targetReference>
            </connector>
            <label>Per anno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_validit_anno</name>
        <label>Verifica validità anno</label>
        <locationX>798</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Loop_su_Anni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anno_Valido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_year_number</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>primo_anno_enrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Overview_Donatore_Anno</targetReference>
            </connector>
            <label>Anno Valido</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>current_year_number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Loop_su_Anni.Name})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>donor_year_overview_name</name>
        <dataType>String</dataType>
        <expression>{!Recupera_Overview_Donatore_Finale.Account__r.Nome_Donatore__c}
&amp; &quot; - &quot; &amp; 
{!Loop_su_Anni.Name}
&amp; &quot; - &quot; &amp; 
{!Recupera_Overview_Donatore_Finale.Programma__r.Name}</expression>
    </formulas>
    <formulas>
        <name>primo_anno_enrollment</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Recupera_Program_Enrollment.StartDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>totali_donatore_anno_name</name>
        <dataType>String</dataType>
        <expression>&quot;Totali &quot;&amp;{!Recupera_Overview_Donatore_Finale.Account__r.Nome_Donatore__c}
&amp; &quot; - &quot; &amp; 
{!Loop_su_Anni.Name}
&amp; &quot; - &quot; &amp; 
{!Recupera_Overview_Donatore_Finale.Programma__r.Name}</expression>
    </formulas>
    <interviewLabel>Allinea Donatore Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allinea Donatore Anno</label>
    <loops>
        <name>Loop_su_Anni</name>
        <label>Loop su Anni</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>lista_Anni_reportistica</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verifica_validit_anno</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Totali_Donatore_Anno</name>
        <label>Crea Totali Donatore Anno</label>
        <locationX>490</locationX>
        <locationY>2030</locationY>
        <assignRecordIdToReference>totali_donatore_anno_id</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_Puntamento_Donatore_Anno</targetReference>
        </connector>
        <inputAssignments>
            <field>Donatore_Programma__c</field>
            <value>
                <elementReference>donor_overview_id_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donatore__c</field>
            <value>
                <elementReference>Recupera_Overview_Donatore_Finale.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>totali_donatore_anno_name</elementReference>
            </value>
        </inputAssignments>
        <object>Totali_Donatore_Anno__c</object>
    </recordCreates>
    <recordLookups>
        <name>Ottieni_Anni_Reportistica</name>
        <label>Ottieni Anni Reportistica</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lista_Anni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore.Programma__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Anno_Reportistica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_anno_singolo</name>
        <label>Ottieni anno - singolo</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview_Anno_singolo.Anno__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Anno_Reportistica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Overview_Anno_singolo</name>
        <label>Ottieni Overview Anno - singolo</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Overview_Donatore_singolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donatoreAnnoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Overview_Donatore</name>
        <label>Ottieni Overview Donatore</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Anni_Reportistica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>overviewDonatoreId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Overview_Donatore_Anno</name>
        <label>Ottieni Overview Donatore Anno</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overview_esiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donor_overview_id_final</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Anni.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Overview_Donatore_singolo</name>
        <label>Ottieni Overview Donatore - singolo</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_anno_singolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview_Anno_singolo.Donor_Overview__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Totali_Donatore_Anno</name>
        <label>Ottieni Totali Donatore Anno</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_Totale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore_Anno.Totali_Donatore_Anno__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Totali_Donatore_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Overview_Donatore_Finale</name>
        <label>Recupera Overview Donatore Finale</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Program_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donor_overview_id_final</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Program_Enrollment</name>
        <label>Recupera Program Enrollment</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Anni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Overview_Donatore_Finale.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Nome</name>
        <label>Aggiorna Nome</label>
        <locationX>270</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Ottieni_Totali_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore_Anno.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>donor_year_overview_name</elementReference>
            </value>
        </inputAssignments>
        <object>Reporting_Year__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Puntamento_Donatore_Anno</name>
        <label>Aggiorna Puntamento Donatore Anno</label>
        <locationX>490</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Loop_su_Anni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview_Donatore_Anno.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>totali_donatore_anno_id</elementReference>
            </value>
        </inputAssignments>
        <object>Reporting_Year__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Overview_Programma_o_per_Anno</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</name>
        <label>Aggiorna Valori Statici Donatore Anno - autolaunched</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Nome_Donatore_Anno_Cambiato</targetReference>
        </connector>
        <flowName>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Ottieni_Overview_Donatore_Anno.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Crea_Overview_Donatore_Anno</name>
        <label>Crea Overview Donatore Anno</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Loop_su_Anni</targetReference>
        </connector>
        <flowName>Crea_Overview_Donatore_Anno</flowName>
        <inputAssignments>
            <name>Anno_id_input</name>
            <value>
                <elementReference>Loop_su_Anni.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donatore_overview_input</name>
            <value>
                <elementReference>donor_overview_id_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>program_id_input</name>
            <value>
                <elementReference>program_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>year_name_input</name>
            <value>
                <elementReference>Loop_su_Anni.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatoreAnnoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donor_overview_id_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_Anni_reportistica</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Anno_Reportistica__c</objectType>
    </variables>
    <variables>
        <name>overviewDonatoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>program_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totali_donatore_anno_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
