force-app/main/default/flows/Assegna_Fatture_ad_una_Campagna.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aggiungi_a_lista_fatture_da_aggiornare</name>
        <label>Aggiungi a lista fatture da aggiornare</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>lista_fatture_da_aggiornare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_Fatture_selezionate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_su_Fatture_selezionate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fattura_a_Donatore</name>
        <label>Assegna Fattura a Donatore</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_su_Fatture_selezionate.Reporting_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recupera_Overview_Donatore_Destinazione.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_Fatture_selezionate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recupera_Overview_Donatore_Destinazione.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiungi_a_lista_fatture_da_aggiornare</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>amount_campaign_tostring</name>
        <dataType>String</dataType>
        <expression>TEXT({!chosen_campaign.Ammontare_Disponibile__c})</expression>
    </formulas>
    <interviewLabel>Assegna Fatture ad una Campagna {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assegna Fatture ad una Campagna</label>
    <loops>
        <name>Loop_su_Fatture_selezionate</name>
        <label>Loop su Fatture selezionate</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Recupera_Fatture</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Fattura_a_Donatore</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Committa_modifiche</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Recupera_Fatture</name>
        <label>Recupera Fatture</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Overview_Donatore_Destinazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lista_fatture_selezionate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Overview_Donatore_Destinazione</name>
        <label>Recupera Overview Donatore Destinazione</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Fatture_selezionate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donatore_destinatario</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Committa_modifiche</name>
        <label>Committa modifiche</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_Sorgente</targetReference>
        </connector>
        <inputReference>lista_fatture_da_aggiornare</inputReference>
    </recordUpdates>
    <screens>
        <name>Assegna_Fatture_ad_un_Donatore</name>
        <label>Assegna Fatture ad un Donatore</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recupera_Fatture</targetReference>
        </connector>
        <fields>
            <name>seleziona_dati</name>
            <extensionName>c:assegnazioneFattureADonatore</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>donatore_destinatario</assignToReference>
                <name>targetReportingYearId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>donatore_sorgente</assignToReference>
                <name>sourceReportingYearId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lista_fatture_selezionate</assignToReference>
                <name>selectedInvoiceIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continua</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Le_seguenti_Fatture_sono_state_associate_alla_Campagna</name>
        <label>Le seguenti Fatture sono state associate al Donatore</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fatture_aggiornate</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Invoice__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Le seguenti fatture sono state associate al Donatore scelto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lista_fatture_da_aggiornare</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-109e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Codice&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Totale_Fattura__c&quot;,&quot;guid&quot;:&quot;column-80f2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Ammontare&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Totale Fattura&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Nome_Budget__c&quot;,&quot;guid&quot;:&quot;column-9875&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Budget&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Anno_di_Competenza__c&quot;,&quot;guid&quot;:&quot;column-d2dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Anno&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Anno di Competenza&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Nome_Donatore__c&quot;,&quot;guid&quot;:&quot;column-7e92&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Donatore&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Nome Donatore&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assegna_Fatture_ad_un_Donatore</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Donatore_Anno_Destinatario</name>
        <label>Aggiorna Valori Statici Donatore Anno Destinatario</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Le_seguenti_Fatture_sono_state_associate_alla_Campagna</targetReference>
        </connector>
        <flowName>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>donatore_destinatario</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Aggiorna_Valori_Statici_Donatore_Anno_Sorgente</name>
        <label>Aggiorna Valori Statici Donatore Anno Sorgente</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_Destinatario</targetReference>
        </connector>
        <flowName>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>donatore_sorgente</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>chosen_campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>donatore_destinatario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_sorgente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_invoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>List_Invoices_Final</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_fatture_da_aggiornare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>lista_fatture_selezionate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_id_fatture</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>old_campagna_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>old_overview_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_invoicesId_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
