force-app/main/default/flows/Close_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_allocation_to_list_to_update</name>
        <label>Add Allocation to list to update</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>allocations_to_be_updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_allocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Payment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Payment_List</name>
        <label>Add to Payment List</label>
        <locationX>358</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Payments_to_be_updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Payments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ottieni_Overview_Budget_anno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Overview_a_lista</name>
        <label>Assegna Overview a lista</label>
        <locationX>358</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>lista_overview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ottieni_Overview_Budget_anno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payments_to_list</name>
        <label>assign payments to list</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>list_payments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Payment_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Seleziona_Pagamento_da_Confermare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_payments_to_update</name>
        <label>List of payments to update</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>final_list_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>select_payments.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_to_update</name>
        <label>Payment to update</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>final_list_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Single_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_paid</name>
        <label>Set Status to paid</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_allocations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_allocations.Data_di_Pagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inserisci_la_data_del_Pagamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_allocation_to_list_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Payments.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_Payments.Data_di_Pagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inserisci_la_data_del_Pagamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Payment_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_RecordId</name>
        <label>is RecordId?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>get_Payment_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Single_Payment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>anno_pagamento</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Inserisci_la_data_del_Pagamento}))</expression>
    </formulas>
    <interviewLabel>Close Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Payment</label>
    <loops>
        <name>Loop_over_allocations</name>
        <label>Loop over allocations</label>
        <locationX>358</locationX>
        <locationY>1514</locationY>
        <collectionReference>get_Allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Payments</name>
        <label>Loop over Payments</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>final_list_to_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Allocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Allocations</name>
        <label>get Allocations</label>
        <locationX>358</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Payments.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payment_List</name>
        <label>get Payment List</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_payments_to_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Da Pagare</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Single_Payment</name>
        <label>get Single Payment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_to_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ottieni_Overview_Budget_anno</name>
        <label>ottieni Overview Budget anno</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Overview_a_lista</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Payments.Overview_Budget_per_Anno__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Allocations</name>
        <label>Update Allocations</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_List_of_Payments</targetReference>
        </connector>
        <inputReference>allocations_to_be_updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_of_Payments</name>
        <label>Update List of Payments</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Completato</targetReference>
        </connector>
        <inputReference>Payments_to_be_updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction_Payment_Status</name>
        <label>Update Transaction Payment Status</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Loop_over_allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_allocations.GiftTransactionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Done</stringValue>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <screens>
        <name>Completato</name>
        <label>Completato</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Pagamenti_chiusi</name>
            <fieldText>&lt;p&gt;Grazie mille, i seguenti pagamenti sono stati marcati come Pagati:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>list_payments_updated</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista di pagamenti aggiornati</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Payments_to_be_updated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aa6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payment Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Budget_String__c&quot;,&quot;guid&quot;:&quot;column-4a02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Budget&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Budget String&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-31b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-ca53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conferma_Pagamento</name>
        <label>Conferma Pagamento</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>is_RecordId</targetReference>
        </connector>
        <fields>
            <name>Inserisci_la_data_del_Pagamento</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Inserisci la data del Pagamento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleziona_Pagamento_da_Confermare</name>
        <label>Seleziona Pagamento da Confermare</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_payments_to_update</targetReference>
        </connector>
        <fields>
            <name>select_payments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona i pagamenti che vuoi confermare come effettuati</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>list_payments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cd46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payment Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Budget_String__c&quot;,&quot;guid&quot;:&quot;column-9af8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Budget&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Budget String&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-fc8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-4615&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conferma_Pagamento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allocations_to_be_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>final_list_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>list_payments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>lista_overview</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Overview_Budget_per_Anno__c</objectType>
    </variables>
    <variables>
        <name>Payments_to_be_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
