force-app/main/default/flows/Collega_Fattura_a_Donatore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Ha_Donatore_Anno_Originale</name>
        <label>Ha Donatore Anno Originale?</label>
        <locationX>176</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_Nuovo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessun Donatore Originale</defaultConnectorLabel>
        <rules>
            <name>Ha_Originale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>original_donatore_anno_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_Originale</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Collega Fattura a Donatore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collega Fattura a Donatore</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Aggiorna_Fattura_con_Donatore</name>
        <label>Aggiorna Fattura con Donatore</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Fattura_Shadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>donatore_account_output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Year__c</field>
            <value>
                <elementReference>donatore_anno_output</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <screens>
        <name>Collega_Fattura_a_un_Donatore</name>
        <label>Collega Fattura a un Donatore</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Aggiorna_Fattura_con_Donatore</targetReference>
        </connector>
        <fields>
            <name>seleziona_dati</name>
            <extensionName>c:assegnazioneFattureADonatore</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>invoiceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programId</name>
                <value>
                    <elementReference>programma_id_input</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anno</name>
                <value>
                    <elementReference>anno_name_input</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>budgetId</name>
                <value>
                    <elementReference>budgetId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>donatore_anno_output</assignToReference>
                <name>targetReportingYearId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>donatore_account_output</assignToReference>
                <name>targetAccountId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Conferma</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collega_Fattura_a_un_Donatore</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Donatore_Anno_Nuovo</name>
        <label>Aggiorna Valori Statici Donatore Anno Nuovo</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <flowName>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>donatore_anno_output</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Aggiorna_Valori_Statici_Donatore_Anno_Originale</name>
        <label>Aggiorna Valori Statici Donatore Anno Originale</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_Nuovo</targetReference>
        </connector>
        <flowName>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>original_donatore_anno_id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Aggiorna_Valori_Statici_Fattura_Shadow</name>
        <label>Aggiorna Valori Statici Fattura Shadow</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Ha_Donatore_Anno_Originale</targetReference>
        </connector>
        <flowName>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>anno_name_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budget_anno_id_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_account_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_anno_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>original_donatore_anno_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programma_id_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
