force-app/main/default/flows/Crea_Massivamente_Fatture_Shadow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>Fattura_Shadow_Name</name>
        <dataType>String</dataType>
        <expression>{!Loop_su_Fatture.Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Crea Massivamente Fatture Shadow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Massivamente Fatture Shadow</label>
    <loops>
        <name>Loop_su_Fatture</name>
        <label>Loop su Fatture</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>fattureselezionate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Shadow</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Shadow</name>
        <label>Crea Shadow</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>shadow_id</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_Puntamento_Shadow</targetReference>
        </connector>
        <inputAssignments>
            <field>Fattura__c</field>
            <value>
                <elementReference>Loop_su_Fatture.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Fattura_Shadow_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Durata_Visite_Static__c</field>
            <value>
                <elementReference>Loop_su_Fatture.Total_Duration_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Fattura_Static__c</field>
            <value>
                <elementReference>Loop_su_Fatture.Totale_Fattura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Visite_Static__c</field>
            <value>
                <elementReference>Loop_su_Fatture.Total_Number_of_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>Loop_su_Fatture.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>Loop_su_Fatture.Reporting_Year__r.Totali_Donatore_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fattura_Shadow__c</object>
    </recordCreates>
    <recordLookups>
        <name>Recupera_Fatture</name>
        <label>Recupera Fatture</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selezione_dati_fatture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fattura_Shadow__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>50.0</numberValue>
        </limit>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Puntamento_Shadow</name>
        <label>Aggiorna Puntamento Shadow</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_su_Fatture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Fatture.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fattura_Shadow__c</field>
            <value>
                <elementReference>shadow_id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <screens>
        <name>Selezione_dati_fatture</name>
        <label>Selezione_dati_fatture</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_su_Fatture</targetReference>
        </connector>
        <fields>
            <name>Seleziona_dati</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Invoice__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista Fatture senza Shadow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recupera_Fatture</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d72e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Codice&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-7b1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-f88b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Account__c&quot;,&quot;guid&quot;:&quot;column-9d0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Account&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Budget__c&quot;,&quot;guid&quot;:&quot;column-3406&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Budget&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fattureselezionate</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Fatture</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fattureselezionate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
