force-app/main/default/flows/Crea_Tipo_Visita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Tipo_Visita_da_Screen</name>
        <label>Assegna Tipo Visita da Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>tipo_visita_da_creare</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_Visita_da_aggiungere</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Visit_types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Tipo_Visita_da_Visita</name>
        <label>Assegna Tipo Visita da Visita</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>tipo_visita_da_creare</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Visita.Visit_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Visit_types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing</name>
        <label>Existing?</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Crea_visit_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Visit_types.Tipo_Visita__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>show_screen_decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Id</name>
        <label>Record Id?</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Crea_Tipo_Visita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Visita</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>show_screen_decision</name>
        <label>show screen?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>show_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>problem</targetReference>
            </connector>
            <label>yes_show</label>
        </rules>
    </decisions>
    <decisions>
        <name>show_screen_ok</name>
        <label>show screen ok?</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_show_screen_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>show_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>done</targetReference>
            </connector>
            <label>yes show screen ok</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crea Tipo Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Tipo Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_visit_type</name>
        <label>Crea visit type</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>created_visit_type_id</assignRecordIdToReference>
        <connector>
            <targetReference>show_screen_ok</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>tipo_visita_da_creare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Visita__c</field>
            <value>
                <elementReference>tipo_visita_da_creare</elementReference>
            </value>
        </inputAssignments>
        <object>Tipo_Visita__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Visit_types</name>
        <label>get Visit types</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_Visita__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tipo_visita_da_creare</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tipo_Visita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Visita</name>
        <label>Ottieni Visita</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Tipo_Visita_da_Visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Crea_Tipo_Visita</name>
        <label>Crea Tipo Visita</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Tipo_Visita_da_Screen</targetReference>
        </connector>
        <fields>
            <name>Tipo_Visita_da_aggiungere</name>
            <dataType>String</dataType>
            <fieldText>Tipo Visita da aggiungere</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fatto</name>
            <fieldText>&lt;p&gt;Il tipo di visita &lt;strong&gt;&quot;{!Tipo_Visita_da_aggiungere}&quot;&lt;/strong&gt; è stato aggiunto alla lista&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>problem</name>
        <label>problem</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Crea_Tipo_Visita</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Mi dispiace, il tipo di visita inserito esiste già a sistema. Prova ad inserirne uno diverso&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>created_visit_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>show_Screen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>tipo_visita_da_creare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tipo_visita_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
