force-app/main/default/flows/Crea_Massivamente_Transazioni_Shadow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Donatore_per_anno</name>
        <label>Donatore per anno?</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Donatore_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_su_Transazioni.Reporting_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Shadow</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Transazione_Shadow_Name</name>
        <dataType>String</dataType>
        <expression>{!Loop_su_Transazioni.Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Crea Massivamente Transazioni Shadow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Massivamente Transazioni Shadow</label>
    <loops>
        <name>Loop_su_Transazioni</name>
        <label>Loop su Transazioni</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Recupera_Transazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Donatore_per_anno</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Shadow</name>
        <label>Crea Shadow</label>
        <locationX>352</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Aggiorna_Puntamento_Shadow</targetReference>
        </connector>
        <inputAssignments>
            <field>Allocabile_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.CurrentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocazioni_NON_Pagate_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Allocation_not_paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donato_Originale_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Original_Donation_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Transazione_Shadow_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Allocazioni_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Total_Allocations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_NON_Pagato_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Totale_Allocato_NON_Pagato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_Pagato_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Totale_Allocato_Pagato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_Static__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Totale_Allocato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Reporting_Year__r.Totali_Donatore_Anno__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transazione__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transazione_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recupera_Transazioni</name>
        <label>Recupera Transazioni</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Transazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transazione_Shadow__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Donatore_Anno</name>
        <label>Aggiorna Donatore Anno</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Crea_Shadow</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_su_Transazioni</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Transazioni.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reporting_Year__c</field>
            <value>
                <elementReference>Loop_su_Transazioni.Donation__r.Reporting_Year__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Puntamento_Shadow</name>
        <label>Aggiorna Puntamento Shadow</label>
        <locationX>352</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Loop_su_Transazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Transazioni.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transazione_Shadow__c</field>
            <value>
                <elementReference>Crea_Shadow</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Transazioni</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
