force-app/main/default/flows/Crea_Comune.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Dati_per_creazione</name>
        <label>Dati per creazione</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>nome_comune_input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Comune</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nome_provincia_input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>region.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nome_regione_input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>region.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Comuni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Comune</name>
        <label>Set Comune</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>new_comune.Nome_Comune__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nome_comune_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_comune.Regione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nome_regione_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_comune.Provincia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nome_provincia_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_Comune</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>existing</name>
        <label>existing?</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Set_Comune</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Comuni.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mostrare_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>INput_presenti</name>
        <label>Input presenti?</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Inserisci_nuovo_comune</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nome_comune_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nome_provincia_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nome_regione_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Comuni</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>mostrare_screen</name>
        <label>mostrare screen?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>yes_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mostrare_screens</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_comune_esistente</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mostrare_Screen_final</name>
        <label>Mostrare Screen?</label>
        <locationX>622</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>yes_screen_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mostrare_screens</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grazie</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crea Comune {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Comune</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Comune</name>
        <label>Crea Comune</label>
        <locationX>622</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Mostrare_Screen_final</targetReference>
        </connector>
        <inputReference>new_comune</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Comuni</name>
        <label>get Comuni</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Regione__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nome_regione_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provincia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nome_provincia_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nome_comune_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Comune__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Errore_comune_esistente</name>
        <label>Errore</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inserisci_nuovo_comune</targetReference>
        </connector>
        <fields>
            <name>Errore</name>
            <fieldText>&lt;p&gt;Il comune esiste già per la Regione e Provincia che hai selezionato. Per favore, inserisci un nome di comune diverso o modifica Regione o Provincia&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Grazie</name>
        <label>Grazie</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Il nuovo comune è stato creato, con questi dati:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Regione:&lt;/strong&gt; {!new_comune.Regione__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Provincia:&lt;/strong&gt; {!new_comune.Provincia__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nome Comune: &lt;/strong&gt;{!new_comune.Nome_Comune__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inserisci_nuovo_comune</name>
        <label>Inserisci nuovo comune</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dati_per_creazione</targetReference>
        </connector>
        <fields>
            <name>Nome_Comune</name>
            <dataType>String</dataType>
            <fieldText>Nome Comune</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>region</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Invoice__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Province__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Regione</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Provincia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>INput_presenti</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>mostrare_screens</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>new_comune</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Comune__c</objectType>
    </variables>
    <variables>
        <name>nome_comune_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nome_provincia_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nome_regione_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
