force-app/main/default/flows/Crea_Transazione_Shadow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Donatore_per_anno</name>
        <label>Donatore per anno?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Recupera_Donatore_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esiste_donatore_anno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Transazione.Reporting_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esiste_Shadow</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_Shadow</name>
        <label>Esiste Shadow?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Crea_Shadow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Transazione.Transazione_Shadow__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Valori_Statici_Transazione_Shadow_autolaunched</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>transaction_shadow_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Crea Transazione Shadow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Transazione Shadow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Shadow</name>
        <label>Crea Shadow</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignRecordIdToReference>transazione_shadow_id</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_Transazione</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>transaction_shadow_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>Recupera_Transazione.Reporting_Year__r.Totali_Donatore_Anno__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transazione__c</field>
            <value>
                <elementReference>Recupera_Transazione.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transazione_Shadow__c</object>
    </recordCreates>
    <recordLookups>
        <name>Recupera_Donatore_Anno</name>
        <label>Recupera Donatore Anno</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Transazione.Donor.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Transazione.Programma__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Transazione.Donation__r.Anno_di_Competenza__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Transazione</name>
        <label>Recupera Transazione</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donatore_per_anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Donatore_Anno</name>
        <label>Aggiorna Donatore Anno</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Esiste_Shadow</targetReference>
        </connector>
        <inputAssignments>
            <field>Reporting_Year__c</field>
            <value>
                <elementReference>Recupera_Donatore_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Transazione</name>
        <label>Aggiorna Transazione</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Transazione_Shadow_New_autolaunched</targetReference>
        </connector>
        <inputAssignments>
            <field>Transazione_Shadow__c</field>
            <value>
                <elementReference>transazione_shadow_id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Transazione</targetReference>
        </connector>
        <object>GiftTransaction</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Transazione_Shadow_autolaunched</name>
        <label>Aggiorna Valori Statici Transazione Shadow - autolaunched</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <flowName>Aggiorna_Valori_Statici_Transazione_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Recupera_Transazione.Transazione_Shadow__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Aggiorna_Valori_Statici_Transazione_Shadow_New_autolaunched</name>
        <label>Aggiorna Valori Statici Transazione Shadow New - autolaunched</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <flowName>Aggiorna_Valori_Statici_Transazione_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>transazione_shadow_id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>transazione_shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
