force-app/main/default/flows/DPP_Create_Or_Update_Benefit_Assignement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Benefit_Assignment_Data</name>
        <label>Set Benefit Assignment Data</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAssignmentToCreateOrUpdate.BudgetPartnerAssignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benefit_Assignement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Benefit_Assignment_Id</name>
        <label>Set Benefit Assignment Id</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAssignmentToCreateOrUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Benefit_Assignement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Benefit_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Benefit_Assignment_Already_Created</name>
        <label>Is Benefit Assignment Already Created?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Benefit_Assignment_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Benefit Assignment</defaultConnectorLabel>
        <rules>
            <name>Yes_Benefit_Assignment_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Benefit_Assignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Benefit_Assignment</targetReference>
            </connector>
            <label>Yes-Benefit Assignment Existing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DPP - Create Or Update Benefit Assignement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPP - Create Or Update Benefit Assignement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Benefit_Assignment</name>
        <label>Create new Benefit Assignment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>varBenefitAssignmentToCreateOrUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Benefit_Assignement</name>
        <label>Get Related Benefit Assignement</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Benefit_Assignment_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetPartnerAssignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Benefit_Assignment</name>
        <label>Update Existing Benefit Assignment</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>varBenefitAssignmentToCreateOrUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Benefit_Assignment_Data</targetReference>
        </connector>
        <object>BudgetPartnerAssignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varBenefitAssignmentToCreateOrUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
</Flow>
