force-app/main/default/flows/EditTicket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>EmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>tickets</name>
            <value>
                <elementReference>TicketList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>EmailController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Field_Assignment</name>
        <label>Field Assignment</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TicketAvailability.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.EndValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndValidity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.NumberUses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Uses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.OfferExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiredDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.PriceDiscounted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceDiscounted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.PriceFull__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceFull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.Show__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Show.Show.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.StartValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartValidity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.SubscriptionName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketAvailability.SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ticket_Availability</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Send_Notification</name>
        <label>Send Notification?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Notify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ShowTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Show__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IsIssued</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!TicketAvailability.IssuanceType__c}, &apos;Emesso&apos;)</expression>
    </formulas>
    <formulas>
        <name>IsPriceDiscounted</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!TicketAvailability.PaymentType__c}, &apos;Da pagare (a prezzo scontato)&apos;)</expression>
    </formulas>
    <formulas>
        <name>IsPriceFull</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!TicketAvailability.PaymentType__c}, &apos;Da pagare (a prezzo pieno)&apos;)</expression>
    </formulas>
    <formulas>
        <name>IsSubscription</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!TicketAvailability.TicketType__c}, &apos;Abbonamento&apos;)</expression>
    </formulas>
    <interviewLabel>Modifica Biglietto {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Modifica Biglietto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Show</name>
        <label>Show</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FormScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TicketAvailability.Show__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Show__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TicketAvailability</name>
        <label>Ticket Availability</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TicketAvailabilityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TicketAvailability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ticket_Availability</name>
        <label>Update Ticket Availability</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <inputReference>TicketList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FormScreen</name>
        <label>Form Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Show</targetReference>
        </connector>
        <fields>
            <name>NotifySection</name>
            <fieldText>Notifica</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NotifySection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notify</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Invia notifica ai partners con l&apos;offerta aggiornata</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InfoSection</name>
            <fieldText>Informazioni Offerta</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Codice</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;N° Ordine Biglietto / Codice Abbonamento / Riferimento univoco&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsIssued</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Uses</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.NumberUses__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantità</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;N° Biglietti / Numeri spettacoli / ingressi dell’abbonamento&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Numero non valido.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Uses} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExpiredDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.OfferExpirationDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Data Scadenza Offerta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Data scadenza non valida!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
	{!ExpiredDate} &gt;= TODAY(),
	OR(
		ISBLANK({!ShowDateTime}),
		{!ExpiredDate} &lt;= DATEVALUE({!ShowDateTime})
	)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PriceFull</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.PriceFull__c</elementReference>
                    </defaultValue>
                    <fieldText>Prezzo Intero (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Prezzo totale numero di biglietti | abbonamenti x prezzo unitario.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Prezzo non valido.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PriceFull} &gt; 0</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>IsPriceFull</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IsPriceDiscounted</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PriceDiscounted</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.PriceDiscounted__c</elementReference>
                    </defaultValue>
                    <fieldText>Prezzo Scontato (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Prezzo non valido.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PriceDiscounted} &gt; 0</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsPriceDiscounted</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SubscriptionSection</name>
            <fieldText>Informazioni Abbonamento</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SubscriptionSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.SubscriptionName__c</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StartValidity</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.StartValidity__c</elementReference>
                    </defaultValue>
                    <fieldText>Inizio Validita</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La data di inizio validità deve essere precedente a quella di fine validità.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!StartValidity} &lt;= {!EndValidity}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SubscriptionSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionType</name>
                    <choiceReferences>ShowTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.SubscriptionType__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EndValidity</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>TicketAvailability.EndValidity__c</elementReference>
                    </defaultValue>
                    <fieldText>Fine Validità</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La data di fine validità deve essere successiva a quella di inizio validità.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!EndValidity} &gt;= {!StartValidity}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsSubscription</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowSection</name>
            <fieldText>Spettacolo</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShowSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Show.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShowSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowType</name>
                    <choiceReferences>ShowTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Show.Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShowSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Show.Datetime__c</elementReference>
                    </defaultValue>
                    <fieldText>Data e Ora</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Data Spettacolo non valida!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>DATEVALUE({!ShowDateTime}) &gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsSubscription</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Offerta modificata con successo!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TicketAvailability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Show</name>
        <label>Create Show</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Field_Assignment</targetReference>
        </connector>
        <flowName>NewShow</flowName>
        <inputAssignments>
            <name>Datetime</name>
            <value>
                <elementReference>ShowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Name</name>
            <value>
                <elementReference>ShowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StructureId</name>
            <value>
                <elementReference>Show.Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>ShowType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>TicketAvailabilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TicketList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TicketAvailability__c</objectType>
    </variables>
</Flow>
