force-app/main/default/flows/Elimina_Tutte_le_donazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aggiungi_Allocazioni_a_lista</name>
        <label>Aggiungi Allocazioni a lista</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>AllocazioniListId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_Allocazioni.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_su_Allocazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiunti_a_lista_ID_Transazioni</name>
        <label>Aggiunti a lista ID Transazioni</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>transactionIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_Transazioni_selezionate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_su_Transazioni_selezionate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Lista</name>
        <label>Assegna Lista</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>lista_transazioni_da_selezionare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ottieni_Transazioni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mostra_le_transazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Lista_singola</name>
        <label>Assegna Lista</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>lista_transazioni_da_selezionare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ottieni_Transazione</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mostra_le_transazioni</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>RecordId_input</name>
        <label>RecordId?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Transazioni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Transazione</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Elimina Tutte le donazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Elimina Tutte le donazioni</label>
    <loops>
        <name>Loop_su_Allocazioni</name>
        <label>Loop su Allocazioni</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <collectionReference>Ottieni_Allocazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggiungi_Allocazioni_a_lista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ottieni_Allocazioni_Shadow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_su_Transazioni_selezionate</name>
        <label>Loop su Transazioni selezionate</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>lista_transazioni.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggiunti_a_lista_ID_Transazioni</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ottieni_donazioni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Cancella_Allocazioni</name>
        <label>Cancella Allocazioni</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Cancella_Alocazioni_Shadow</targetReference>
        </connector>
        <inputReference>Ottieni_Allocazioni</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Cancella_Alocazioni_Shadow</name>
        <label>Cancella Alocazioni Shadow</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Delete_Records_1</targetReference>
        </connector>
        <inputReference>Ottieni_Allocazioni_Shadow</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Cancella_Transazioni_Shadow</name>
        <label>Cancella Transazioni Shadow</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Cancella_Allocazioni</targetReference>
        </connector>
        <inputReference>Ottieni_Transazioni_Shadow</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Cancella_tutte_le_transazioni</name>
        <label>Cancella tutte le transazioni</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Cancella_Transazioni_Shadow</targetReference>
        </connector>
        <inputReference>lista_transazioni.selectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Cancella tutte le donazioni</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <inputReference>Ottieni_donazioni</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Ottieni_Allocazioni</name>
        <label>Ottieni Allocazioni</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Allocazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftTransactionId</field>
            <operator>In</operator>
            <value>
                <elementReference>transactionIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Allocazioni_Shadow</name>
        <label>Ottieni Allocazioni Shadow</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancella_tutte_le_transazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation_Transaction_Allocation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AllocazioniListId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Distribuzione_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_donazioni</name>
        <label>Ottieni donazioni</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Transazioni_Shadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftTransactionId</field>
            <operator>In</operator>
            <value>
                <elementReference>transactionIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Transazione</name>
        <label>Ottieni Transazione</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Lista_singola</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Transazioni</name>
        <label>Ottieni Transazioni</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Lista</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Transazioni_Shadow</name>
        <label>Ottieni Transazioni Shadow</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Allocazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transazione__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transactionIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transazione_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Mostra_le_transazioni</name>
        <label>Mostra le transazioni</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_su_Transazioni_selezionate</targetReference>
        </connector>
        <fields>
            <name>lista_transazioni</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransaction</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona la transazioni da eliminare</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lista_transazioni_da_selezionare</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>lista_transazioni.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ca12&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Donation__c&quot;,&quot;guid&quot;:&quot;column-e067&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Id Donazione&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Donation&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Original_Donation_Amount__c&quot;,&quot;guid&quot;:&quot;column-3013&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Original Donation Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CurrentAmount&quot;,&quot;guid&quot;:&quot;column-ed16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Current Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Data_di_Competenza__c&quot;,&quot;guid&quot;:&quot;column-8e1a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Data di Competenza&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;DonorId&quot;,&quot;guid&quot;:&quot;column-8d6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Donor ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordId_input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllocazioniListId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donazioni_da_cancellare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftEntry</objectType>
    </variables>
    <variables>
        <name>lista_allocazioni_da_cancellare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>lista_transazioni_da_selezionare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
