force-app/main/default/flows/Gestisci_distribuzione_di_una_transazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aggiungi_Allocazione</name>
        <label>Aggiungi Allocazione</label>
        <locationX>534</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>current_allocation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FD_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.Percent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FD_Percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.GiftDesignationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FD_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.Data_di_Distribuzione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_di_Allocazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.Donatore_Anno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Overview_Budget_per_anno.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.Donatore_Anno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGiftTransaction.Reporting_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_allocation.Programma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_allocazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_program</name>
        <label>Assegna program</label>
        <locationX>336</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>programId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGiftTransaction.Programma__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Paid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Status</name>
        <label>Set Transaction Status</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>GetGiftTransaction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Paid</name>
        <label>is Paid?</label>
        <locationX>248</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Crea_Allocazioni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGiftTransaction.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pagamento_gi_Fatto</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Massive_allocation</name>
        <label>Massive?</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>transazione_distribuita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_in_input</name>
        <label>Program in input?</label>
        <locationX>248</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assegna_program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Paid</targetReference>
            </connector>
            <label>Program passed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the record ID that was passed into the flow is a gift commitment or a gift transaction.</description>
        <name>WhatTypeOfId</name>
        <label>What Type of ID?</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Select_the_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>IsGiftTransactionId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>6tr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGiftTransaction</targetReference>
            </connector>
            <label>Gift Transaction ID</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>list_of_transactions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GiftTransaction</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!GetGiftTransaction.Data_di_Competenza__c}))</expression>
    </formulas>
    <formulas>
        <name>anno_distribuzione</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!data_distribuzione}))</expression>
    </formulas>
    <formulas>
        <name>FD_Amount</name>
        <dataType>Number</dataType>
        <expression>VALUE( RIGHT({!Loop_su_elementi}, LEN({!Loop_su_elementi}) - ( FIND(&quot;|&quot;, {!Loop_su_elementi}, FIND(&quot;|&quot;, {!Loop_su_elementi})+1 ) ) ) )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FD_Id</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_su_elementi}, FIND(&quot;|&quot;, {!Loop_su_elementi})-1)</expression>
    </formulas>
    <formulas>
        <name>FD_Percent</name>
        <dataType>Number</dataType>
        <expression>VALUE( LEFT( MID({!Loop_su_elementi}, FIND(&quot;|&quot;, {!Loop_su_elementi})+1, LEN({!Loop_su_elementi})), FIND(&quot;|&quot;, MID({!Loop_su_elementi}, FIND(&quot;|&quot;, {!Loop_su_elementi})+1, LEN({!Loop_su_elementi})) ) -1 ) )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Gift Designation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestisci distribuzione di una transazione</label>
    <loops>
        <name>Loop_su_elementi</name>
        <label>Loop su elementi</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <collectionReference>allocations_to_create_string</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Overview_Budget_per_anno</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Transaction_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_allocazione</name>
        <label>Crea allocazione</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Crea_Distribuzione_Shadow_autolaunched</targetReference>
        </connector>
        <inputReference>current_allocation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Allocations</name>
        <label>get Allocations</label>
        <locationX>446</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Massive_allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftTransactionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Overview_Budget_per_anno</name>
        <label>get Overview Budget per anno</label>
        <locationX>534</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiungi_Allocazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FD_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the gift transaction record with the ID matching recordID.</description>
        <name>GetGiftTransaction</name>
        <label>Get Gift Transaction</label>
        <locationX>248</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_in_input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction</name>
        <label>Update Transaction</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>get_Allocations</targetReference>
        </connector>
        <inputReference>GetGiftTransaction</inputReference>
    </recordUpdates>
    <screens>
        <name>Crea_Allocazioni</name>
        <label>Crea Allocazioni</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_su_elementi</targetReference>
        </connector>
        <fields>
            <name>Dati_transazione</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;In questa schermata puoi scegliere a quali budget, legati al programma selezionato e ad esso iscritti, vuoi distribuire la donazione, ed in che percentuali.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Crea_Allocazioni_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crea_Allocazioni_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>left</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Donazione da distribuire: &lt;/strong&gt;{!GetGiftTransaction.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ammontare da distribuire: &lt;/strong&gt;{!GetGiftTransaction.CurrentAmount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crea_Allocazioni_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>right</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stato Attuale: &lt;/strong&gt;{!GetGiftTransaction.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Donatore: &lt;/strong&gt;{!GetGiftTransaction.Donor.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Data_di_Allocazione</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Scegli la data di allocazione</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>giftAllocation</name>
            <extensionName>c:giftAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>giftTransactionId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programId</name>
                <value>
                    <elementReference>programId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isValid</assignToReference>
                <name>isValid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allocations_to_create_string</assignToReference>
                <name>designationRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pagamento_gi_Fatto</name>
        <label>Pagamento già Fatto</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>paid_already</name>
            <fieldText>&lt;p&gt;La Donazione è stata già pagata ai Budget,  non è possibile modificare la distribuzione&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>transazione_distribuita</name>
        <label>transazione_distribuita</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Donazione_distribuita</name>
            <fieldText>&lt;p&gt;La donazione selezionata è stata distribuita ai budget in data {!Data_di_Allocazione}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>allocations</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransactionDesignation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Distribuzione ai budgets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Allocations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Budget_Name__c&quot;,&quot;guid&quot;:&quot;column-3e0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Budget Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Percent&quot;,&quot;guid&quot;:&quot;column-842d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Percent&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-b352&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-8a1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>frops_flow__ManageGiftDesignations</sourceTemplate>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatTypeOfId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crea_Distribuzione_Shadow_autolaunched</name>
        <label>Crea Distribuzione Shadow - autolaunched</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Loop_su_elementi</targetReference>
        </connector>
        <flowName>Crea_Distribuzione_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>current_allocation.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Select_the_transaction</name>
        <label>Select the transaction</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>GetGiftTransaction</targetReference>
        </connector>
        <flowName>Assign_Donations_to_budgets</flowName>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allocations_to_create_string</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>current_allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>data_distribuzione</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_allocations_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>massive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the gift commitment or gift transaction record that’s passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transaction_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
