force-app/main/default/flows/LAB00_Assign_budget_to_partners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_tempBudgetPartnerAssignment_to_collection</name>
        <label>Add tempBudgetPartnerAssignment to collection</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varBudgetPartnerAssignmentsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempBudgetPartnerAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PartnerNumbers</name>
        <label>Set PartnerNumbers</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varPartnerNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedPartners.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_tempBudgetPartnerAssignment</name>
        <label>Set tempBudgetPartnerAssignment</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>tempBudgetPartnerAssignment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Partners.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBudgetPartnerAssignment.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBudgetPartnerAssignment.AllocationPercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateStdPercentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tempBudgetPartnerAssignment_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Allocation_modified</name>
        <label>Are there Allocation modified?</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>No-Changes</defaultConnectorLabel>
        <rules>
            <name>Yes_AllocationModified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfigureAllocationPercentage.outputEditedRowsString</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Allocations</targetReference>
            </connector>
            <label>Yes-AllocationModified</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActivePrograms</name>
        <collectionReference>Get_Active_Programs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Program</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Partners</name>
        <collectionReference>get_Program_Partners</collectionReference>
        <dataType>String</dataType>
        <displayField>PartnerName__c</displayField>
        <object>ProgramEnrollment</object>
        <valueField>AccountId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>calculateStdPercentage</name>
        <dataType>Number</dataType>
        <expression>100 / {!varPartnerNumber}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LAB00 - Assign budget to partners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAB00 - Assign budget to partners</label>
    <loops>
        <name>Loop_on_Partners</name>
        <label>Loop on Partners</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>SelectedPartners.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_tempBudgetPartnerAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Budget_Allocation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget_Allocation</name>
        <label>Create Budget Allocation</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Update_Budget_Status</targetReference>
        </connector>
        <inputReference>varBudgetPartnerAssignmentsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Programs</name>
        <label>Get Active Programs</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Data</name>
        <label>Get Budget Data</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OLD_Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Program_Partners</name>
        <label>get Program Partners</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Partners_and_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Program</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Allocations</name>
        <label>Update Allocations</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <inputReference>ConfigureAllocationPercentage.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Budget_Status</name>
        <label>Update Budget Status</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>OLD_Budget__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Program</name>
        <label>Choose Program</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Program_Partners</targetReference>
        </connector>
        <fields>
            <name>Select_Program</name>
            <choiceReferences>ActivePrograms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_Allocation_modified</targetReference>
        </connector>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p&gt;Budget Assegnato ai Partner.&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Nella lista sottostante è possibile modificare le percentuali&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConfigureAllocationPercentage</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BudgetPartnerAssignment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>BudgetPartnerAssignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varBudgetPartnerAssignmentsToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>AllocationPercentage__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Account__c,AllocationPercentage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Account__c:0, AllocationPercentage__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Partners_and_Budget</name>
        <label>Select Partners and Budget</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_PartnerNumbers</targetReference>
        </connector>
        <fields>
            <name>Select_Partners_and_Budget_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Partners_and_Budget_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BudgetSummary</name>
                    <fieldText>&lt;p&gt;Budget Summary:&lt;/p&gt;&lt;p&gt;Name: {!Get_Budget_Data.Name}&lt;/p&gt;&lt;p&gt;Total Amount: {!Get_Budget_Data.Total_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Partners_and_Budget_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedPartners</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ProgramEnrollment</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Partners</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>get_Program_Partners</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;PartnerName__c&quot;,&quot;guid&quot;:&quot;column-f7c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Partner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Budget_Data</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempBudgetPartnerAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetPartnerAssignment__c</objectType>
    </variables>
    <variables>
        <name>varBudgetPartnerAssignmentsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetPartnerAssignment__c</objectType>
    </variables>
    <variables>
        <name>varPartnerNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
