force-app/main/default/flows/LAB00_Set_Account_Standard_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_recordtype_of_Account</name>
        <label>Which recordtype of Account</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Cost_Percentage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company</defaultConnectorLabel>
        <rules>
            <name>PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PersonAccount_Cost_Percentage</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
    </decisions>
    <description>Set the fields on the account when it is created: Donation_Percentage_Withheld__c</description>
    <environments>Default</environments>
    <interviewLabel>LAB00-Set Account Standard field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAB00-Set Account Standard field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Cost_Percentage</name>
        <label>Get Account Cost Percentage</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountSettings</stringValue>
            </value>
        </filters>
        <object>Program_Management_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>varDonationPercentageWithheld</assignToReference>
            <field>StandardManagementCostPercentage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_Cost_Percentage</name>
        <label>Get PersonAccount Cost Percentage</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonSettings</stringValue>
            </value>
        </filters>
        <object>Program_Management_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>varDonationPercentageWithheld</assignToReference>
            <field>StandardManagementCostPercentage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>Donation_Percentage_Withheld__c</field>
            <value>
                <elementReference>varDonationPercentageWithheld</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_recordtype_of_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDonationPercentageWithheld</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
