force-app/main/default/flows/LAB00_Check_total_Assignment_Percentage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Item_Percentage_to_Total_Percentage</name>
        <label>Add Item Percentage to Total Percentage</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTotalBudgetPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddLoopPercentageToTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Budget_Assignment</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>TotalPercentageOver</name>
        <label>TotalPercentageOver</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <customErrorMessages>
            <errorMessage>Error, total Percentage Assignment must be less or equal to 100</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Percentage_greater_than_100</name>
        <label>Percentage greater than 100</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Percentage_over_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalBudgetPercentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TotalPercentageOver</targetReference>
            </connector>
            <label>Error Percentage over 100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddLoopPercentageToTotal</name>
        <dataType>Number</dataType>
        <expression>{!varTotalBudgetPercentage} + {!Loop_on_Budget_Assignment.AllocationPercentage__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>LAB00 - Check total Assignment Percentage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAB00 - Check total Assignment Percentage</label>
    <loops>
        <name>Loop_on_Budget_Assignment</name>
        <label>Loop on Budget Assignment</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Budget_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Item_Percentage_to_Total_Percentage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Percentage_greater_than_100</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Budget_Assignments</name>
        <label>Get All Budget Assignments</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Budget_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetPartnerAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Budget_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AllocationPercentage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BudgetPartnerAssignment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTotalBudgetPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
