force-app/main/default/flows/LAB00_Create_Budget_from_Oppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Item_Amount_to_Budget_Total_Amount</name>
        <label>Add Item Amount to Budget Total Amount</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varBudgetTotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddItemAmountToTotalBudget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Available_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tempOppty_to_Collection</name>
        <label>Add tempOppty to Collection</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_Amount_to_Budget_Total_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recordIdOutput</name>
        <label>Set recordIdOutput</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>recordIdOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetToBeCreated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SummaryScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_tempOppty</name>
        <label>Set tempOppty</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>tempOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Available_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOpportunity.BudgetAllocationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOpportunity.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetToBeCreated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tempOppty_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue_to_Assign_Budget</name>
        <label>Continue to Assign Budget?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAssignBudget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignBudget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAB00_Assign_budget_to_partners_Flow_1</targetReference>
            </connector>
            <label>YesAssignBudget</label>
        </rules>
    </decisions>
    <description>With this flow a user can select opportunities and create a budget</description>
    <environments>Default</environments>
    <formulas>
        <name>AddItemAmountToTotalBudget</name>
        <dataType>Currency</dataType>
        <expression>{!varBudgetTotalAmount} + {!Loop_on_Available_Opportunities.AmountAvailable__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LAB00 - Create Budget from Oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAB00 - Create Budget from Oppty</label>
    <loops>
        <name>Loop_on_Available_Opportunities</name>
        <label>Loop on Available Opportunities</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>AvailableOpportunities.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_tempOppty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget</name>
        <label>Create Budget</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_on_Available_Opportunities</targetReference>
        </connector>
        <inputReference>BudgetToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Opportunities</name>
        <label>Get Available Opportunities</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetAllocationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Account_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget_total_Amount</name>
        <label>Update Budget total Amount</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Set_recordIdOutput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BudgetToBeCreated.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>varBudgetTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>OLD_Budget__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Budget_total_Amount</targetReference>
        </connector>
        <inputReference>OpportunitiesToBeUpdated</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Opportunities</name>
        <label>Select Opportunities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Budget</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BudgetToBeCreated.Name</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AvailableOpportunities</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Available_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2cd3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-a781&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;AmountAvailable__c&quot;,&quot;guid&quot;:&quot;column-d1d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount Available&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-7fea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SummaryScreen</name>
        <label>SummaryScreen</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_to_Assign_Budget</targetReference>
        </connector>
        <fields>
            <name>SummaryMessage</name>
            <fieldText>&lt;p&gt;Creato un budget per un totale di  {!varBudgetTotalAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssignBudget</name>
            <dataType>Boolean</dataType>
            <fieldText>Assign Budget?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LAB00_Assign_budget_to_partners_Flow_1</name>
        <label>LAB00 - Assign budget to partners Flow 1</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <flowName>LAB00_Assign_budget_to_partners</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>BudgetToBeCreated.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BudgetToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLD_Budget__c</objectType>
    </variables>
    <variables>
        <name>OpportunitiesToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varBudgetTotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
