force-app/main/default/flows/Manual_Process_Gift_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that either does a dry run of processing gift entries for the gift entry record that was passed into the flow or processes the gift entries for the gift entry record that was passed into the flow. Stores the results in the Outputs from ProcessGiftEntries action resource.</description>
        <name>ProcessGiftEntries</name>
        <label>Process Gift Entries</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>processGiftEntries</actionName>
        <actionType>processGiftEntries</actionType>
        <connector>
            <targetReference>UpdateGiftEntryOnSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateGiftEntryOnFailure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>giftEntryId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDryRun</name>
            <value>
                <elementReference>isDryRun</elementReference>
            </value>
        </inputParameters>
        <nameSegment>processGiftEntries</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to do a dry run of the update to or update the record returned by ProcessGiftEntries when ProcessGiftEntries encounters errors, setting the gift processing status to Failure.</description>
        <name>UpdateGiftEntryOnFailure</name>
        <label>Update Gift Entry On Failure</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <actionName>updateProcessedGiftEntries</actionName>
        <actionType>updateProcessedGiftEntries</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>giftEntryId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftProcessingStatus</name>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftProcessingErrorDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDryRun</name>
            <value>
                <elementReference>isDryRun</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateProcessedGiftEntries</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to do a dry run of the update to or update the record returned by ProcessGiftEntries when ProcessGiftEntries finishes without errors.</description>
        <name>UpdateGiftEntryOnSuccess</name>
        <label>Update Gift Entry On Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>updateProcessedGiftEntries</actionName>
        <actionType>updateProcessedGiftEntries</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>giftEntryId</name>
            <value>
                <elementReference>ProcessGiftEntries.giftEntryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftProcessingStatus</name>
            <value>
                <elementReference>ProcessGiftEntries.giftProcessingStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftProcessingErrorDetails</name>
            <value>
                <elementReference>ProcessGiftEntries.giftProcessingErrorDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftTransactionId</name>
            <value>
                <elementReference>ProcessGiftEntries.giftTransactionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>giftCommitmentId</name>
            <value>
                <elementReference>ProcessGiftEntries.giftCommitmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>donorId</name>
            <value>
                <elementReference>ProcessGiftEntries.donorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDryRun</name>
            <value>
                <elementReference>isDryRun</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateProcessedGiftEntries</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Manual Process Gift Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Process Gift Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <sourceTemplate>frops_flow__ProcessGiftEntries</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProcessGiftEntries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Indicates whether the gift entry is to be processed as a dry run without creating or updating records to determine if there are any errors.</description>
        <name>isDryRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of a gift entry record that is passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
