force-app/main/default/flows/Mostra_Totali_Overview_Donatore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AllineaDonatoreAnnoAction_Action_1</name>
        <label>AllineaDonatoreAnnoAction Action 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AllineaDonatoreAnnoAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ottieni_Overview</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>overviewDonatoreId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AllineaDonatoreAnnoAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aggiorna_Valori</name>
        <label>Aggiorna Valori</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ammontare_originale_donato</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Total_Original_Donation_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ammontare_donato</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Total_Donation_Amount_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numero_donazioni</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Total_Donation_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ammontare_fatture</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Total_Invoice_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numero_fatture</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Totale_Numero_Fatture__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totale_minuti_visite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Total_Minutes_of_Visits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totale_visite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Total_Visits_Done__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>not_invoiced_amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_figli.Not_Invoiced_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_su_figli</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inizializza_valori</name>
        <label>Inizializza valori</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ammontare_originale_donato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Total_Original_Donation_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ammontare_donato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Total_Donation_Amount_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numero_donazioni</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Total_Donation_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ammontare_fatture</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Total_Invoice_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numero_fatture</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Totale_Numero_Fatture__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totale_minuti_visite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Total_Minutes_of_Visits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totale_visite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Total_Visits_Done__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>not_invoiced_amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview.Not_Invoiced_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ottieni_overview_figlie</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Donatore_id_15</name>
        <dataType>String</dataType>
        <expression>LEFT({!Ottieni_Overview.Account__c}, 15)</expression>
    </formulas>
    <interviewLabel>Mostra Totali Overview Donatore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mostra Totali Overview Donatore</label>
    <loops>
        <name>Loop_su_figli</name>
        <label>Loop su figli</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Ottieni_overview_figlie</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggiorna_Valori</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Totale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Overview</name>
        <label>Ottieni Overview</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inizializza_valori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_overview_figlie</name>
        <label>Ottieni overview figlie</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_figli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Holding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Donatore_id_15</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Overview.Programma__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Totale</name>
        <label>Totale</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;Questa pagina mostra i totali relativi al donatore &lt;strong&gt;{!Ottieni_Overview.Account__r.Name}&lt;/strong&gt;, che includono tutte le sue attività relative al Programma &lt;strong&gt;{!Ottieni_Overview.Programma__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Totale_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Totale_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totale_fatturato</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Donato:&lt;/em&gt;&lt;/strong&gt; Ammontare Originale versato dal donatore -&amp;gt; €{!ammontare_originale_donato}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Allocabile:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare al netto della trattenuta -&amp;gt; €{!ammontare_donato}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;﻿Num Donazioni:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero di Donazioni fatte -&amp;gt; {!numero_donazioni}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Fatturato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare totale delle Fatture associate al donatore nel programma -&amp;gt; €{!ammontare_fatture}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Totale_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totali_donazioni</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Num Fatture:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero delle Fatture associate al donatore nel programma -&amp;gt; {!numero_fatture}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;NON Fatturati: &lt;/em&gt;&lt;/strong&gt;Ammontare corrispondente a budget donato ma non avente Fatture associate sul donatore. Può indicare Capienza effettiva o una mancata associazione di Fatture al donatore -&amp;gt; €{!not_invoiced_amount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>overview_donatore_programma</name>
            <extensionName>c:overview_Donatore_Programma</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AllineaDonatoreAnnoAction_Action_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ammontare_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_fatture</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_originale_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>not_invoiced_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numero_donazioni</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numero_fatture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totale_minuti_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totale_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
