force-app/main/default/flows/Mostra_Totali_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copia_valori_statici_su_overview_anno</name>
        <label>Copia valori statici su overview anno</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>StaticFieldsCopy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Totale</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StaticFieldsCopy</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>non_allocato</name>
        <dataType>Currency</dataType>
        <expression>{!Ottieni_Anno.Totale_Allocabile__c} - {!Ottieni_Anno.Ammontare_Distribuzioni__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Mostra Totali Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mostra Totali Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Anno</name>
        <label>Ottieni Anno</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_valori_statici_su_overview_anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Anno_Reportistica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Totale</name>
        <label>Totale</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disponibile</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Questa pagina mostra i totali relativi all&apos;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Anno di Reportistica: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Anno.Name} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;che includono tutte le attività relative al Programma &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Ottieni_Anno.Programma__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Totale_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Totale_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totale_fatturato</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Donato:&lt;/em&gt;&lt;/strong&gt; Ammontare Originale versato dal donatore -&amp;gt; €{!Ottieni_Anno.Ammontare_Originale_Donato__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Allocabile:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare al netto della trattenuta -&amp;gt; €{!Ottieni_Anno.Totale_Allocabile__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Allocato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare che è stato allocato ai budget (&lt;u&gt;somma di Pagato e NON Pagato&lt;/u&gt;) -&amp;gt; €{!Ottieni_Anno.Ammontare_Distribuzioni__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Pagato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare allocato già pagato -&amp;gt; €{!Ottieni_Anno.Ammontare_Distribuzioni_Pagate__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;NON Pagato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare allocato non ancora pagato -&amp;gt; €{!Ottieni_Anno.Ammontare_Distribuzioni_NON_Pagate__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;NON Allocato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Differenza tra Allocabile e Allocato -&amp;gt; €{!non_allocato}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;﻿Num Donazioni:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero di Donazioni fatte -&amp;gt; {!Ottieni_Anno.Numero_Donazioni_Anno_Corrente__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Fatturato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare totale delle Fatture associate al programma -&amp;gt; €{!Ottieni_Anno.Totale_Fatturato_Budgets__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Totale_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totali_donazioni</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Capienza:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Differenza tra Allocato e Fatturato -&amp;gt; €{!Ottieni_Anno.Capienza_budgets__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Num Fatture:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero delle Fatture associate al programma -&amp;gt; {!Ottieni_Anno.Totale_Numero_Fatture__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Pagamenti Aperti: &lt;/em&gt;&lt;/strong&gt;Ammontare Pagamenti per allocazioni ancora da pagare. Il valore potrebbe non corrispondere al valore &quot;NON Pagato&quot;, poiché potrebbero non essere stati creati Pagamenti per alcune allocazioni -&amp;gt; €{!Ottieni_Anno.Pagamenti_Aperti__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Pagamenti Chiusi: &lt;/em&gt;&lt;/strong&gt;Ammontare Pagamenti per allocazioni già pagati (deve essere sempre uguale al valore &quot;Pagato&quot;) -&amp;gt; €{!Ottieni_Anno.Pagamenti_Pagati__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;NON Fatturati: &lt;/em&gt;&lt;/strong&gt;Ammontare corrispondente a budget donato ma non avente Fatture associate sul donatore. Può indicare Capienza effettiva o una mancata associazione di Fatture al donatore -&amp;gt; €{!Ottieni_Anno.Ammontare_Disponibile__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>overview_anno</name>
            <extensionName>c:annoReportistica</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Ottieni_Anno.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Anno</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ammontare_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_fatture</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_originale_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>lista_fatture_associate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>lista_transazioni_associate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>numero_donazioni</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numero_fatture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>pagamenti_da_pagare</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pagamenti_pagati</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totale_minuti_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totale_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
