force-app/main/default/flows/Mostra_Totali_Budget_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AllineaBudgetAnnoAction</name>
        <label>AllineaBudgetAnnoAction</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AllineaBudgetAnnoAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ottieni_Budget_Anno</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>budgetAnnoId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AllineaBudgetAnnoAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Mostra Totali Budget Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mostra Totali Budget Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Budget_Anno</name>
        <label>Ottieni Budget Anno</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Totale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Totale</name>
        <label>Totale</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;Questa pagina mostra i totali relativi al budget &lt;strong&gt;{!Ottieni_Budget_Anno.Name}&lt;/strong&gt; che includono tutte le sue attività relative al Programma {!Ottieni_Budget_Anno.Programma__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Totale_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Totale_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totale_fatturato</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Allocato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare che è stato allocato al budget (&lt;u&gt;somma di Pagato e NON Pagato&lt;/u&gt;) -&amp;gt; €{!Ottieni_Budget_Anno.Totale_Allocato__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Pagato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare allocato già pagato -&amp;gt; €{!Ottieni_Budget_Anno.Totale_Distribuito_Pagato_Formula__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;NON Pagato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare allocato non ancora pagato -&amp;gt; €{!Ottieni_Budget_Anno.Totale_Distribuito_NON_Pagato_Formula__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Fatturato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare totale delle Fatture associate al budget nel programma -&amp;gt; €{!Ottieni_Budget_Anno.Totale_Ammontare_Fatture_formula__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Capienza:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Differenza tra Allocato e Fatturato -&amp;gt; €{!Ottieni_Budget_Anno.Capienza__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Num Fatture:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero delle Fatture associate al programma -&amp;gt; {!Ottieni_Budget_Anno.Numero_di_Fatture_formula__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Totale_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totali_donazioni</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Minuti Visite:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Totale Minuti delle visite relative alle Fatture associate al programma -&amp;gt; {!Ottieni_Budget_Anno.Totale_Minuti_di_Visita_formula__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Num Visite:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero totale di visite relative alle Fatture associate al programma -&amp;gt; {!Ottieni_Budget_Anno.Totale_Numero_di_Visite_formula__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Pagamenti Aperti: &lt;/em&gt;&lt;/strong&gt;Ammontare Pagamenti per allocazioni ancora da pagare. Il valore potrebbe non corrispondere al valore &quot;NON Pagato&quot;, poiché potrebbero non essere stati creati Pagamenti per alcune allocazioni -&amp;gt; €{!Ottieni_Budget_Anno.Ammontare_Pagamenti_Da_Pagare_formula__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Pagamenti Chiusi: &lt;/em&gt;&lt;/strong&gt;Ammontare Pagamenti per allocazioni già pagati (deve essere sempre uguale al valore &quot;Pagato&quot;) -&amp;gt; €{!Ottieni_Budget_Anno.Ammontare_Pagamenti_Fatti_formula__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>overview_Budget_Anno</name>
            <extensionName>c:overviewBudgetAnno</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AllineaBudgetAnnoAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ammontare_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_fatture</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_originale_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numero_donazioni</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numero_fatture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totale_minuti_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totale_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
