force-app/main/default/flows/NewShow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignExistingRecord</name>
        <label>Assign Existing Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Show</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Show</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignNewRecord</name>
        <label>Assign New Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Show</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewShow</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignNewRecordFields</name>
        <label>Assign New Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewShow.Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StructureId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewShow.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewShow.Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datetime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewShow.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateShow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AlreadyExists</name>
        <label>Already Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNewRecordFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Show</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExistingRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crea Spettacolo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Spettacolo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateShow</name>
        <label>Create Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignNewRecord</targetReference>
        </connector>
        <inputReference>NewShow</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Show</name>
        <label>Get Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AlreadyExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Structure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StructureId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Datetime__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Datetime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Show__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Show</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewShow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Show__c</objectType>
    </variables>
    <variables>
        <name>Show</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Show__c</objectType>
    </variables>
    <variables>
        <name>StructureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
