force-app/main/default/flows/NewTicket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_To_Partners</name>
        <label>Send Email To Partners</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <actionName>EmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>tickets</name>
            <value>
                <elementReference>TicketList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>insert</stringValue>
            </value>
        </inputParameters>
        <nameSegment>EmailController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Content_Document_Link</name>
        <label>Assign Content Document Link</label>
        <locationX>138</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Content_Document_Link_List</name>
        <label>Clear Content Document Link List</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ContentDocumentLinkList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Ticket_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fields_Assignment</name>
        <label>Fields Assignment</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Ticket.IsFree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketIsFree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.PriceFull__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceFull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.PriceDiscounted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceDiscounted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContendDocumentIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Files.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.NumberUses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.StartValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndValidityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.EndValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndValidityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StructureRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.SubStructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selected_structure_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.OfferExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.SubscriptionName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ticket.SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Create_Show</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Ticket_Record</name>
        <label>Reset Ticket Record</label>
        <locationX>50</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>Ticket</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTicket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>FormScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fornitore_Code</name>
        <label>Set Fornitore Code</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>StructureRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fornitore_By_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StructureId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fornitore_By_Id.StructureCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fornitore_Record_Id_From_Input</name>
        <label>Set Fornitore Record Id From Input</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>StructureRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StructureId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectFornitoreScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fornitore_Record_Id_From_Selection</name>
        <label>Set Fornitore Record Id From Selection</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>StructureRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selected_fornitore_screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fornitore_By_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ticket_List</name>
        <label>Set Ticket List</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>TicketList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TicketList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ticket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_To_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TicketFieldsAssignment</name>
        <label>Ticket Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Ticket.Show__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Show.Show.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTicket</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Close</name>
        <choiceText>Chiudi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loop</name>
        <choiceText>Crea un nuovo ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Create_Show</name>
        <label>Check Create Show</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>CreateTicket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Show_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShowName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShowDateTime</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShowType</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Show</targetReference>
            </connector>
            <label>Create Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Files</name>
        <label>Check Files</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Ticket_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Upload_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Content_Document_Ids</targetReference>
            </connector>
            <label>Upload Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fornitore_Input</name>
        <label>Check Fornitore Input</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SelectFornitoreScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Richiedi Struttura</defaultConnectorLabel>
        <rules>
            <name>Has_Fornitore_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StructureId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fornitore_Record_Id_From_Input</targetReference>
            </connector>
            <label>Usa Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crea_Nuovo</name>
        <label>Crea Nuovo?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Set_Fornitore_Record_Id_From_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crea_nuovo_f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_new_fornitore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Nuovo_Fornitore_subflow</targetReference>
            </connector>
            <label>Crea</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopFlow</name>
        <label>Loop Flow?</label>
        <locationX>182</locationX>
        <locationY>3038</locationY>
        <defaultConnectorLabel>Close</defaultConnectorLabel>
        <rules>
            <name>YesLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuova Offerta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Ticket_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ShowTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Show__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TicketType__c</picklistField>
        <picklistObject>TicketAvailability__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CodeInputLabel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Ticket.TicketType__c}, &apos;Biglietto&apos;), &apos;N° Ordine&apos;, &apos;Codice Abbonamento&apos;)</expression>
    </formulas>
    <formulas>
        <name>FileNames</name>
        <dataType>String</dataType>
        <expression>{!Files.fileNames}</expression>
    </formulas>
    <formulas>
        <name>FileNamesText</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!FileNames}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;,&quot;, &quot;, &quot;)</expression>
    </formulas>
    <formulas>
        <name>Path</name>
        <dataType>String</dataType>
        <expression>TEXT({!Ticket.TicketType__c}) &amp; &apos; &apos; &amp; TEXT({!Ticket.IssuanceType__c}) &amp; &apos; - &apos; &amp; TEXT({!Ticket.PaymentType__c})</expression>
    </formulas>
    <formulas>
        <name>QuantityInputLabel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Ticket.TicketType__c}, &apos;Biglietto&apos;), &apos;N° Biglietti&apos;, &apos;Numeri spettacoli/ingressi dell’abbonamento&apos;)</expression>
    </formulas>
    <formulas>
        <name>TicketIsFree</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Ticket.PaymentType__c}, &apos;Donato&apos;)</expression>
    </formulas>
    <interviewLabel>Crea Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Crea Offerta</label>
    <loops>
        <name>Loop_Content_Document_Ids</name>
        <label>Loop Content Document Ids</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <collectionReference>Files.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Clear_Content_Document_Link_List</targetReference>
        </connector>
        <inputReference>ContentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateTicket</name>
        <label>Create Ticket</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Check_Files</targetReference>
        </connector>
        <inputReference>Ticket</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Fornitore_By_Id</name>
        <label>Get Fornitore By Id</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fornitore_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StructureRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fornitore_Record_Type</name>
        <label>Get Fornitore Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fornitore_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Structure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FormScreen</name>
        <label>Form Screen</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fields_Assignment</targetReference>
        </connector>
        <fields>
            <name>OfferSection</name>
            <fieldText>Tipologia</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OfferSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ticket.TicketType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OfferSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ticket.IssuanceType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OfferSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ticket.PaymentType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InfoSection</name>
            <fieldText>Informazioni Offerta</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Code</name>
                    <dataType>String</dataType>
                    <fieldText>Codice</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;N° Ordine Biglietto / Codice Abbonamento / Riferimento univoco&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket.IssuanceType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Emesso</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantità</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;N° Biglietti / Numeri spettacoli / ingressi dell’abbonamento&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Quantità non valida&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Quantity} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OfferExpirationDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Data Scadenza Offerta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Data scadenza non valida!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
	{!OfferExpirationDate} &gt;= TODAY(),
	OR(
		ISBLANK({!ShowDateTime}),
		{!OfferExpirationDate} &lt;= DATEVALUE({!ShowDateTime})
	)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PriceFull</name>
                    <dataType>Currency</dataType>
                    <fieldText>Prezzo Intero (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Prezzo totale numero di biglietti | abbonamenti x prezzo unitario.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Prezzo non valido!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PriceFull} &gt; 0</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Da pagare (a prezzo pieno)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Da pagare (a prezzo scontato)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PriceDiscounted</name>
                    <dataType>Currency</dataType>
                    <fieldText>Prezzo Scontato (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Prezzo non valido!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!PriceDiscounted} &gt; 0, {!PriceFull} &gt; {!PriceDiscounted})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Da pagare (a prezzo scontato)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubscriptionSection</name>
            <fieldText>Informazioni Abbonamento</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SubscriptionSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionName</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StartValidityDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Inizio Validità</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SubscriptionSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionType</name>
                    <choiceReferences>ShowTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EndValidityDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Fine Validità</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ticket.TicketType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Abbonamento</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowSection</name>
            <fieldText>Spettacolo</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShowSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowName</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ShowType</name>
                    <choiceReferences>ShowTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShowSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowDateTime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Data e Ora</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Data Spettacolo non valida!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>DATEVALUE({!ShowDateTime}) &gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ticket.TicketType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Biglietto</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FilesSection</name>
            <fieldText>Allegati</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FilesSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FilesDesc</name>
                    <fieldText>&lt;p&gt;Allegare una prova di validità dei biglietti/abbonamenti (prova di acquisto, scontrino, foto o pdf dei biglietti/abbonamenti, documento, ecc...)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FilesSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Files</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Premi il pulsante o trascina un file per allegare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StructureRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .jpg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FilesInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FileNamesText</elementReference>
                    </defaultValue>
                    <fieldText>Allegati</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ticket.IssuanceType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Emesso</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ticket.PaymentType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Biglietto Emesso - Donato:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Biglietto emesso con codice, allegato in pdf e donato al 100% al progetto&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Biglietto Emesso - Da pagare (a prezzo pieno):&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Biglietto emesso con codice, allegato in pdf e che l&apos;ente non profit dovrà pagare al prezzo indicato (pieno)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Biglietto Emesso - Da pagare (a prezzo scontato):&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Biglietto emesso con codice, allegato in pdf e che l&apos;ente non profit dovrà pagare al prezzo indicato (scontato)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Biglietto Non Emesso - Donato:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Biglietto non emesso e che sarà donato al 100% al progetto&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Biglietto Non emesso - Da pagare (a prezzo pieno):&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Biglietto non emesso ma prenotabile dall&apos;ente al prezzo indicato (pieno)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Biglietto Non emesso - Da pagare (a prezzo scontato&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;):	Biglietto non emesso ma prenotabile dall&apos;ente al prezzo indicato scontato (scontato)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Abbonamento Emesso - Donato:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Abbonamento emesso con codice, allegato in pdf e donato al 100% al progetto&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Abbonamento Emesso - Da pagare (a prezzo pieno):&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Abbonamento emesso con codice, allegato in pdf e che l&apos;ente non profit dovrà pagare al prezzo indicato (pieno)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Abbonamento Emesso - Da pagare (a prezzo scontato): &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Abbonamento emesso con codice, allegato in pdf e che l&apos;ente non profit dovrà pagare al prezzo indicato (scontato)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Abbonamento Non Emesso - Donato:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Abbonamento non emesso e che sarà donato al 100% al progetto&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Abbonamento Non emesso - Da pagare (a prezzo pieno)&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;: Abbonamento non emesso ma prenotabile dall&apos;ente al prezzo indicato (pieno)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Abbonamento Non emesso - Da pagare (a prezzo scontato):&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;	Abbonamento non emesso ma prenotabile dall&apos;ente al prezzo indicato scontato (scontato)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectFornitoreScreen</name>
        <label>Seleziona Fornitore</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Nuovo</targetReference>
        </connector>
        <fields>
            <name>FornitoreStrutturaPicker</name>
            <extensionName>c:fornitoreStructurePicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>structureRecordTypeId</name>
                <value>
                    <elementReference>Get_Fornitore_Record_Type.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>forcedFornitoreId</name>
                <value>
                    <elementReference>StructureId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>structureOnlyMessage</name>
                <value>
                    <stringValue>Seleziona la struttura per cui vuoi inserire l&apos;Offerta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialFornitoreId</name>
                <value>
                    <elementReference>selected_fornitore_screen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialSubStructureId</name>
                <value>
                    <elementReference>selected_structure_screen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFornitore</name>
                <value>
                    <stringValue>Fornitore</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelStruttura</name>
                <value>
                    <stringValue>Struttura</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_fornitore_screen</assignToReference>
                <name>selectedFornitoreId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selected_structure_screen</assignToReference>
                <name>selectedSubStructureId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>create_new_fornitore</assignToReference>
                <name>crea_nuovo_fornitore_output</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Prosegui</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>2930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopFlow</targetReference>
        </connector>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Offerta inserita con successo!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Gli enti non profit aderenti al progetto riceveranno una email informativa.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Inserisci una nuova offerta o chiudi la schermata.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Nuova Offerta&quot;,&quot;value&quot;:&quot;Nuova Offerta&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Chiudi&quot;,&quot;value&quot;:&quot;Chiudi&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fornitore_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Crea_Nuovo_Fornitore_subflow</name>
        <label>Crea Nuovo Fornitore</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_Fornitore_Record_Id_From_Selection</targetReference>
        </connector>
        <flowName>NewSupplier</flowName>
    </subflows>
    <subflows>
        <name>Create_Show</name>
        <label>Create Show</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>TicketFieldsAssignment</targetReference>
        </connector>
        <flowName>NewShow</flowName>
        <inputAssignments>
            <name>Datetime</name>
            <value>
                <elementReference>ShowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Name</name>
            <value>
                <elementReference>ShowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StructureId</name>
            <value>
                <elementReference>StructureRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>ShowType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContendDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>create_new_fornitore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TicketAvailability__c</objectType>
    </variables>
    <variables>
        <name>selected_fornitore_screen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_structure_screen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Show</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Show__c</objectType>
    </variables>
    <variables>
        <name>ShowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StructureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StructureRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strutture</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubStructure__c</objectType>
    </variables>
    <variables>
        <name>Ticket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TicketAvailability__c</objectType>
    </variables>
    <variables>
        <name>TicketList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TicketAvailability__c</objectType>
    </variables>
</Flow>
