force-app/main/default/flows/Selezione_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Programma</name>
        <label>Assegna Programma</label>
        <locationX>116</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>programma_selezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recupera_programma_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Programma_selezionato</name>
        <label>Assegna Programma</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>programma_selezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_program.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Programma_singolo</name>
        <label>Assegna Programma</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>programma_selezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estrai_Programma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_budget_default</name>
        <label>assign_budget_default</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>budget_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_default_budget.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_budget_found</name>
        <label>assign_budget_found</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>budget_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budgets.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_budget_on_behalf</name>
        <label>assign_budget_on_behalf</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>budget_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seleziona_partner</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Conta_enrolled_programs</name>
        <label>Conta enrolled programs</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>program_enrolled_quantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recupera_programmi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Programma_singolo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>not_present</name>
        <choiceText>Non Presente</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>text_not_present</elementReference>
        </value>
    </choices>
    <constants>
        <name>nome_sorriso_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sorriso Sospeso</stringValue>
        </value>
    </constants>
    <constants>
        <name>nome_tempo_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tempo Sospeso</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Budget_found_initial</name>
        <label>Budget found Start</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Found_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budgets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budgets.DEFAULT_PRG__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_budget_found</targetReference>
            </connector>
            <label>Budget Found</label>
        </rules>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budgets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budgets.DEFAULT_PRG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budgets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Behalf</targetReference>
            </connector>
            <label>Budget Found and Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>on_behalf_valorizzato</name>
        <label>on behalf valorizzato?</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>get_default_budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>seleziona_partner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_budget_on_behalf</targetReference>
            </connector>
            <label>Valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_in_input</name>
        <label>Program in input?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Recupera_programmi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>program_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recupera_programma_input</targetReference>
            </connector>
            <label>Program Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Programma_singolo</name>
        <label>Programma singolo?</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Seleziona_Programma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Singolo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>program_enrolled_quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estrai_Programma</targetReference>
            </connector>
            <label>Singolo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>list_of_budgets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DEFAULT_PRG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </filters>
        <object>GiftDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Selezione Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Selezione Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Estrai_Programma</name>
        <label>Estrai Programma</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Programma_singolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Ottieni_Lista_Enrolled_Programs.program_list</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Partner</name>
        <label>Get Account Partner</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Lista_Enrolled_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budgets</name>
        <label>Get Budgets</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_found_initial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Partner.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_default_budget</name>
        <label>get default budget</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_budget_default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DEFAULT_PRG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_programma_input</name>
        <label>Recupera programma input</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Programma</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errore</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Ottieni_Lista_Enrolled_Programs.program_list</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_programmi</name>
        <label>Recupera programmi</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conta_enrolled_programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Ottieni_Lista_Enrolled_Programs.program_list</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Errore</name>
        <label>Errore</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_program_found</name>
            <fieldText>&lt;p&gt;Non ho trovato nessun partner abilitato al programma richiesto&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>On_Behalf</name>
        <label>On Behalf?</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>on_behalf_valorizzato</targetReference>
        </connector>
        <fields>
            <name>seleziona_partner</name>
            <choiceReferences>list_of_budgets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se stai inserendo una fattura per conto di un partner, selezionalo qui sotto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleziona_Programma</name>
        <label>Seleziona Programma</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Programma_selezionato</targetReference>
        </connector>
        <fields>
            <name>select_program</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Program</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona Programma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recupera_programmi</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b924&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Procedi</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Partner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Ottieni_Lista_Enrolled_Programs</name>
        <label>Ottieni Lista Enrolled Programs</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Program_in_input</targetReference>
        </connector>
        <flowName>Ottieni_Lista_Enrolled_Programs</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>Get_Account_Partner.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>budget_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>budget_to_assign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftDesignation</objectType>
    </variables>
    <variables>
        <name>budgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default_budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftDesignation</objectType>
    </variables>
    <variables>
        <name>enrolled_programs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nome_programma_attivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>program_enrolled_quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>program_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programma_selezionato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Program</objectType>
    </variables>
    <variables>
        <name>text_not_present</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non Presente</stringValue>
        </value>
    </variables>
</Flow>
