force-app/main/default/flows/Update_Donor_Overview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Increase_Total_Amount</name>
        <label>Increase Total Amount</label>
        <locationX>754</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>totalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_donations.Original_Donation_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_donations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Year_Amount</name>
        <label>Increase Year Amount</label>
        <locationX>1021</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>yearly_amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_donations.Original_Donation_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Total_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Totals</name>
        <label>Update Totals</label>
        <locationX>476</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Reporting_Years.Current_Year_Donation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>yearly_amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Reporting_Years</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Donor Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Donor Overview</label>
    <loops>
        <name>Loop_donations</name>
        <label>Loop on Donations</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <collectionReference>getDonations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Year_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Reporting_Years</name>
        <label>Loop on Reporting Years</label>
        <locationX>475</locationX>
        <locationY>498</locationY>
        <collectionReference>get_Reporting_Years</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getDonations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>done_overview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Reporting_Years</name>
        <label>get Reporting Years</label>
        <locationX>713</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Reporting_Years</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDonations</name>
        <label>getDonations</label>
        <locationX>754</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_donations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporting_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Reporting_Years.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>done_overview</name>
        <label>done</label>
        <locationX>248</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;Ho aggiornato i totali sul donor Overview&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Reporting_Years</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>yearly_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
