force-app/main/default/flows/Verifica_Unicit_Invoice_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Lista_Fatture_Sorriso</name>
        <label>Assegna Lista Fatture</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lista_fatture_recuperata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cerca_Invoice_Number_Sorriso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trovata_corrispondenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Lista_Fatture_Tempo</name>
        <label>Assegna Lista Fatture</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lista_fatture_recuperata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cerca_Invoice_Number_Tempo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trovata_corrispondenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invoice_Number_Duplicato</name>
        <label>Invoice Number Duplicato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>duplicato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Invoice_Number_non_trovato</name>
        <label>Invoice Number non trovato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>duplicato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>nome_sorriso_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sorriso Sospeso</stringValue>
        </value>
    </constants>
    <constants>
        <name>nome_tempo_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tempo Sospeso</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Quale_Progetto</name>
        <label>Quale Progetto?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cerca_Invoice_Number_Sorriso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tempo_Sospeso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Programma.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nome_tempo_sospeso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cerca_Invoice_Number_Tempo</targetReference>
            </connector>
            <label>Tempo Sospeso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trovata_corrispondenza</name>
        <label>Trovata corrispondenza?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Invoice_Number_non_trovato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lista_fatture_recuperata</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Number_Duplicato</targetReference>
            </connector>
            <label>Esistente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verifica Unicità Invoice Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verifica Unicità Invoice Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cerca_Invoice_Number_Sorriso</name>
        <label>Cerca Invoice Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Lista_Fatture_Sorriso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inv_numb_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inv_date_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cerca_Invoice_Number_Tempo</name>
        <label>Cerca Invoice Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Lista_Fatture_Tempo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inv_numb_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>med_center_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inv_date_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>opt_input_invoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Programma</name>
        <label>Recupera Programma</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_Progetto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Programma</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>city_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inv_date_input</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inv_numb_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_fatture_recuperata</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>med_center_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opt_input_invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
