force-app/main/default/flows/Verifica_Unicit_Invoice_Number_triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>nome_sorriso_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sorriso Sospeso</stringValue>
        </value>
    </constants>
    <constants>
        <name>nome_tempo_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tempo Sospeso</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>error</name>
        <label>error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Non puoi usare questo numero di fattura perché ne esiste già uno a sistema per la stessa data.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Duplicato_check</name>
        <label>Duplicato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>trovato_duplicato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verifica_Unicit_Invoice_Number.duplicato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>trovato duplicato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>input_values</name>
        <dataType>String</dataType>
        <expression>{!$Record.Invoice_Number__c} &amp; &quot; - &quot; &amp; TEXT({!$Record.Date__c}) &amp; &quot; - &quot; &amp; {!$Record.Medical_Center__c}</expression>
    </formulas>
    <interviewLabel>Verifica Unicità Invoice Number - triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verifica Unicità Invoice Number - triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>logga</name>
        <label>logga</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_Unicit_Invoice_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Fattura__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Details__c</field>
            <value>
                <elementReference>input_values</elementReference>
            </value>
        </inputAssignments>
        <object>Logging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>logga</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Verifica_Unicit_Invoice_Number</name>
        <label>Verifica Unicità Invoice Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Duplicato_check</targetReference>
        </connector>
        <flowName>Verifica_Unicit_Invoice_Number</flowName>
        <inputAssignments>
            <name>inv_date_input</name>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inv_numb_input</name>
            <value>
                <elementReference>$Record.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>med_center_input</name>
            <value>
                <elementReference>$Record.Medical_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>$Record.Programma__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>city_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inv_date_input</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inv_numb_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_fatture_recuperata</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>med_center_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
