mdapi/flows/Aggiorna_Massivamente_Donatore_Anno_su_Allocazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!loop_su_allocazioni.GiftTransaction.Data_di_Competenza__c}))</expression>
    </formulas>
    <interviewLabel>Aggiorna Massivamente Donatore Anno su Allocazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Aggiorna Massivamente Donatore Anno su Allocazioni</label>
    <loops>
        <name>loop_su_allocazioni</name>
        <label>loop su allocazioni</label>
        <locationX>840</locationX>
        <locationY>290</locationY>
        <collectionReference>recupera_allocazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cerca_Overview_Budget_Anno</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Cerca_Overview_Budget_Anno</name>
        <label>Cerca Overview Budget Anno</label>
        <locationX>928</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cerca_Overview_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_su_allocazioni.GiftDesignation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cerca_Overview_Donatore_Anno</name>
        <label>Cerca Overview Donatore Anno</label>
        <locationX>928</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Distribuzione_con_Overview_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_su_allocazioni.GiftTransaction.Donor.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno_overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recupera_allocazioni</name>
        <label>recupera allocazioni</label>
        <locationX>840</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_su_allocazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Overview_Donatore_per_Anno__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Distribuzione_con_Overview_Anno</name>
        <label>Aggiorna Distribuzione con Overview Anno</label>
        <locationX>928</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>loop_su_allocazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_su_allocazioni.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Cerca_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_Donatore_per_Anno__c</field>
            <value>
                <elementReference>Cerca_Overview_Donatore_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransactionDesignation</object>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>recupera_allocazioni</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <triggerOrder>500</triggerOrder>
</Flow>
