mdapi/flows/Aggiorna_Stato_del_Pagamento_su_Transazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Pagata_Confermato</name>
        <label>Pagata è Confermato</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>transazione_pagata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pagata_Falso</name>
        <label>Pagata è Falso</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>transazione_pagata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pagata</name>
        <label>Pagata?</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Pagata_Falso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>pagata_distribuzione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pagata_Confermato</targetReference>
            </connector>
            <label>pagata</label>
        </rules>
        <rules>
            <name>non_pagata</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pagata_Falso</targetReference>
            </connector>
            <label>non pagata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sono_tutte_pagate</name>
        <label>Sono tutte pagate?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Transazione_no_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transazione_pagata</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Transazione</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Stato del Pagamento su Transazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Stato del Pagamento su Transazione</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Ottieni_Tutte_le_distribuzioni_collegate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pagata</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sono_tutte_pagate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ottieni_Transazione</name>
        <label>Ottieni Transazione</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Tutte_le_distribuzioni_collegate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftTransaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Tutte_le_distribuzioni_collegate</name>
        <label>Ottieni Tutte le distribuzioni collegate</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftTransactionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Transazione.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Transazione</name>
        <label>Aggiorna Transazione</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Transazione.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Transazione_no_paid</name>
        <label>Aggiorna Transazione</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Transazione.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment not Done</stringValue>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Transazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>GiftTransactionDesignation</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>transazione_pagata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
