mdapi/flows/Aggiorna_Valori_Statici_Fattura_Shadow_Manuale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici Fattura Shadow Manuale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici Fattura Shadow Manuale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Recupera_Fattura</name>
        <label>Recupera Fattura</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Fattura</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</name>
        <label>Aggiorna Valori Statici Fattura Shadow -autolaunched</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Recupera_Fattura.Fattura_Shadow__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_fattura</name>
            <value>
                <elementReference>Recupera_Fattura.Totale_Fattura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_durata</name>
            <value>
                <elementReference>Recupera_Fattura.Total_Duration_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_visite</name>
            <value>
                <elementReference>Recupera_Fattura.Total_Number_of_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_biglietti</name>
            <value>
                <elementReference>Recupera_Fattura.Totale_Biglietti__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totali_budget_id</name>
            <value>
                <elementReference>Recupera_Fattura.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totali_donatore_id</name>
            <value>
                <elementReference>Recupera_Fattura.Reporting_Year__r.Totali_Donatore_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_skip_lookup</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
