mdapi/flows/Aggiorna_Massivamente_Stato_Pagamento_su_Transazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Metodo_Pagamento_Pagato</name>
        <label>Assegna Metodo Pagamento Pagato</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_su_transazioni.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_su_transazioni.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lista_Aggiornata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lista_Aggiornata</name>
        <label>Lista Aggiornata</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>transaction_list_final</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_transazioni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_su_transazioni</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Massivamente Stato Pagamento su Transazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Massivamente Stato Pagamento su Transazioni</label>
    <loops>
        <name>Loop_su_transazioni</name>
        <label>Loop su transazioni</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Estrai_Transazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Metodo_Pagamento_Pagato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aggiorna_Stato_Pagamento</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Estrai_Transazioni</name>
        <label>Estrai Transazioni</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_transazioni</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Payment Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Stato_Pagamento</name>
        <label>Aggiorna Stato Pagamento</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>transaction_list_final</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Estrai_Transazioni</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>transaction_list_final</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
</Flow>
