mdapi/flows/Aggiorna_Valori_Statici_Budget_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici Budget Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici Budget Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Budget_per_Anno</name>
        <label>Recupera Budget per Anno</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_valori_statici</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_valori_statici</name>
        <label>Aggiorna valori statici</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ammontare_Pagamenti_Da_Pagare__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Ammontare_Pagamenti_Da_Pagare_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ammontare_Pagamenti_Fatti__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Ammontare_Pagamenti_Fatti_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Distribuzioni_NON_Pagate_Static__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Numero_Distribuzioni_NON_Pagate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Distribuzioni__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Numero_Distribuzioni_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_di_Fatture__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Numero_di_Fatture_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Allocato_Static__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Allocato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Ammontare_Fatture__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Ammontare_Fatture_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Distribuito_NON_Pagato__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Distribuito_NON_Pagato_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Distribuito_Pagato__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Distribuito_Pagato_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Minuti_di_Visita__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Minuti_di_Visita_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_Biglietti__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Numero_Biglietti_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Visite__c</field>
            <value>
                <elementReference>Recupera_Budget_per_Anno.Totale_Numero_di_Visite_formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Overview_Budget_per_Anno__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Budget_per_Anno</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
