mdapi/flows/Aggiorna_Valori_Statici_Donatore_Anno_autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Aggiorna Valori Statici Donatore Anno - autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Valori Statici Donatore Anno - autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Donatore_per_Anno</name>
        <label>Recupera Donatore per Anno</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_valori_statici</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_valori_statici</name>
        <label>Aggiorna valori statici</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ammontare_Originale_Donato_Anno_Corrente__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Donato_Originale_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Year_Donation_Amount__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Allocabile_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Year_Donation_Number__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Totale_Numero_Donazioni_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Invoice_Amount__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Totale_Fattura_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Minutes_of_Visits__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Totale_Durata_Visite_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Visits_done__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Totale_Numero_di_Visite_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Biglietti__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Totale_Numero_di_Biglietti_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Fatture__c</field>
            <value>
                <elementReference>Recupera_Donatore_per_Anno.Totale_Numero_Fatture_formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reporting_Year__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Donatore_per_Anno</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
