mdapi/flows/Allinea_Overview_Donatore_Limitato_su_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Nome_Donatore_Cambiato</name>
        <label>Nome Donatore Cambiato?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Donatore_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambiato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Carica_Overview_Donatore.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>donor_overview_name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Nome</targetReference>
            </connector>
            <label>Cambiato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>donor_overview_name</name>
        <dataType>String</dataType>
        <expression>&quot;Overview - &quot; &amp; {!Carica_Overview_Donatore.Account__r.Nome_Donatore__c} &amp; &quot; - &quot; &amp; {!Carica_Overview_Donatore.Programma__r.Name}</expression>
    </formulas>
    <interviewLabel>Allinea Overview Donatore - Limitato su Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allinea Overview Donatore - Limitato su Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Carica_Overview_Donatore</name>
        <label>Carica Overview Donatore</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Account</name>
        <label>Ottieni Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nome_Donatore_Cambiato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Carica_Overview_Donatore.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Donatore_Anno</name>
        <label>Ottieni Donatore Anno</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allinea_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Nome</name>
        <label>Aggiorna Nome</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Ottieni_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Carica_Overview_Donatore.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>donor_overview_name</elementReference>
            </value>
        </inputAssignments>
        <object>Donor_Overview__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Carica_Overview_Donatore</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Allinea_Donatore_Anno</name>
        <label>Allinea Donatore Anno</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <flowName>Allinea_Donatore_Anno</flowName>
        <inputAssignments>
            <name>donatoreAnnoId</name>
            <value>
                <elementReference>Ottieni_Donatore_Anno.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>anno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
