mdapi/flows/Allinea_Struttura_Overview_per_Programma_Esistente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Esiste_il_budget</name>
        <label>Esiste il budget?</label>
        <locationX>396</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Crea_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Budget_esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Overview_Budget.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_per_trigger_partner</targetReference>
            </connector>
            <label>Budget_esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_l_overview</name>
        <label>Esiste l&apos;overview?</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Crea_Overview_Donatore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Esiste_overview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recupera_overview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_per_Trigger_donatore</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Lista_programmi</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Program</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Anno_corrente</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>current_year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>nome_budget</name>
        <dataType>String</dataType>
        <expression>&quot;Budget - &quot; &amp; {!Loop_su_Partners.Name} &amp; &quot; - &quot; &amp; {!Recupero_programma.Name}</expression>
    </formulas>
    <formulas>
        <name>overview_name</name>
        <dataType>String</dataType>
        <expression>&quot;Overview - &quot; &amp; 
IF({!Loop_su_Donatori.IsPersonAccount},
    {!Loop_su_Donatori.PersonContact.FirstName} &amp; &quot; &quot; &amp; {!Loop_su_Donatori.PersonContact.LastName},
    {!Loop_su_Donatori.Name}
)
&amp; &quot; - &quot; &amp; {!Recupero_programma.Name}</expression>
    </formulas>
    <interviewLabel>Allinea Struttura Overview per Programma Esistente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allinea Struttura Overview per Programma Esistente</label>
    <loops>
        <name>Loop_su_Donatori</name>
        <label>Loop su Donatori</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Recupera_Donatori</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>recupera_overview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recupera_Partners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_su_Partners</name>
        <label>Loop su Partners</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <collectionReference>Recupera_Partners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recupera_Overview_Budget</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Budget</name>
        <label>Crea Budget</label>
        <locationX>528</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Loop_su_Partners</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nome_budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Loop_su_Partners.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Seleziona_il_Programma</elementReference>
            </value>
        </inputAssignments>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Overview_Donatore</name>
        <label>Crea Overview Donatore</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_su_Donatori</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Loop_su_Donatori.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>overview_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programma__c</field>
            <value>
                <elementReference>Seleziona_il_Programma</elementReference>
            </value>
        </inputAssignments>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recupera_Donatori</name>
        <label>Recupera Donatori</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Donatori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recupera_overview</name>
        <label>recupera overview</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_l_overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_il_Programma</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Donatori.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Overview_Budget</name>
        <label>Recupera Overview Budget</label>
        <locationX>396</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_il_budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_il_Programma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Partners</name>
        <label>Recupera Partners</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Partners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupero_programma</name>
        <label>Recupero programma</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Donatori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_il_Programma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_record_per_Trigger_donatore</name>
        <label>Update record per Trigger</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_su_Donatori</targetReference>
        </connector>
        <inputReference>recupera_overview</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_per_trigger_partner</name>
        <label>Update Record per trigger</label>
        <locationX>264</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Loop_su_Partners</targetReference>
        </connector>
        <inputReference>Recupera_Overview_Budget</inputReference>
    </recordUpdates>
    <screens>
        <name>Seleziona_Programma</name>
        <label>Seleziona il Programma</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recupero_programma</targetReference>
        </connector>
        <fields>
            <name>Seleziona_il_Programma</name>
            <choiceReferences>Lista_programmi</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona il Programma</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Seleziona_Programma</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>reporting_year</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Anno_Reportistica__c</objectType>
    </variables>
</Flow>
