mdapi/flows/Calculate_Payment_to_do.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aggiungi_AccountId</name>
        <label>Aggiungi AccountId</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>accountIdEnrolled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_su_enrollments.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_su_enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_allocation_to_list</name>
        <label>assign allocation to list</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selected_allocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Transaction_allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_if_recordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget</name>
        <label>Assign Budget</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>budget_to_assign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seleziona_il_Budget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_if_recordId</name>
        <label>Assign Budget</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>budget_to_assign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Transaction_allocation.GiftDesignationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>anno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Transaction_allocation.Anno_Distribuzione__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payment</name>
        <label>assign payment</label>
        <locationX>512</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_allocations_to_assign_payment.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pagamentoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_allocations_to_assign_payment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment in Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_allocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection_of_Allocation_selected</name>
        <label>Create Collection of Allocation selected</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>selected_allocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_allocations.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_amount</name>
        <label>Increase amount</label>
        <locationX>512</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>total_amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_selected.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_paid</name>
        <label>is paid?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>transazione_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Transaction_allocation.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_allocation_to_list</targetReference>
            </connector>
            <label>not paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_RecordId</name>
        <label>is RecordId?</label>
        <locationX>424</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Seleziona_il_Programma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Transaction_allocation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pagamento_da_chiudere</name>
        <label>Pagamento da chiudere?</label>
        <locationX>424</locationX>
        <locationY>2954</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>effettuato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payment_done</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conferma_Pagamento_Flow_1</targetReference>
            </connector>
            <label>effettuato</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>anno_list</name>
        <dataType>String</dataType>
        <displayField>Anno__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_il_Budget</elementReference>
            </value>
        </filters>
        <object>Overview_Budget_per_Anno__c</object>
        <outputAssignments>
            <assignToReference>anno</assignToReference>
            <field>Anno__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>budget_list</name>
        <collectionReference>get_Budgets</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GiftDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_budgets</name>
        <collectionReference>get_Budgets</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GiftDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_programs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <object>Program</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_transactions</name>
        <collectionReference>select_transactions_allocations</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GiftTransactionDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Calculate Payment to do {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Payment to do</label>
    <loops>
        <name>Loop_over_allocations_to_assign_payment</name>
        <label>Loop over allocations to assign payment</label>
        <locationX>424</locationX>
        <locationY>2330</locationY>
        <collectionReference>selected_allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_Pagamento_Shadow_autolaunched</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_selected</name>
        <label>Loop over selected</label>
        <locationX>424</locationX>
        <locationY>1814</locationY>
        <collectionReference>selected_allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pagamento_da_fare</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_su_enrollments</name>
        <label>loop su enrollments</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <collectionReference>Recupera_enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggiungi_AccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Budgets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_payment</name>
        <label>create payment</label>
        <locationX>424</locationX>
        <locationY>2222</locationY>
        <assignRecordIdToReference>pagamentoId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_over_allocations_to_assign_payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>total_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>budget_to_assign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Recupera_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Da Pagare</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Budgets</name>
        <label>get Budgets</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scegli_il_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DEFAULT_PRG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdEnrolled</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_Programma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Transaction_allocation</name>
        <label>get Transaction allocation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Budget</name>
        <label>Recupera Budget</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Budget_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_to_assign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Budget_Anno</name>
        <label>Recupera Budget Anno</label>
        <locationX>424</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Budget.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_enrollments</name>
        <label>Recupera enrollments</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_su_enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_Programma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>select_transactions_allocations</name>
        <label>select transactions allocation</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scegli_la_Donazione_da_pagare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftDesignationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_il_Budget</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Overview_Budget_per_Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Seleziona_l_anno_di_distribuzione</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_allocation</name>
        <label>update allocation</label>
        <locationX>512</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Loop_over_allocations_to_assign_payment</targetReference>
        </connector>
        <inputReference>Loop_over_allocations_to_assign_payment</inputReference>
    </recordUpdates>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>424</locationX>
        <locationY>2846</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pagamento_da_chiudere</targetReference>
        </connector>
        <fields>
            <name>payment_created</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;E&apos; stato creato un elemento di tipo Pagamento &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;di &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;EUR {!total_amount} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;a favore di &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Recupera_Budget.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Puoi trovarlo nella sezione Pagamenti, nella lista &quot;Pagamenti da effettuare&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>payment_status</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona se vuoi chiudere automaticamente il pagamento (marcandolo come fatto)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Pagamento Effettuato</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Pagamento da Fare</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>payment_done</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pagamento_da_fare</name>
        <label>Pagamento da fare</label>
        <locationX>424</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_payment</targetReference>
        </connector>
        <fields>
            <name>total_payment_to_do</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Sulla base della tua selezione, il pagamento da fare è di: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;EUR {!total_amount} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;a favore di &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Recupera_Budget.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Sarà creato un elemento di tipo Pagamento con l&apos;ammontare previsto e il Budget selezionato, nello stato &quot;Da Pagare&quot;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Quando avrai effettuato il pagamento, usa la funzionalità di &quot;Conferma Pagamento&quot; per confermare.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scegli_Anno_di_distribuzione</name>
        <label>Scegli Anno di distribuzione</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>select_transactions_allocations</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Seleziona_l_anno_di_distribuzione</name>
            <choiceReferences>anno_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona l&apos;anno di distribuzione</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scegli_il_Budget</name>
        <label>Scegli il Budget</label>
        <locationX>666</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scegli_Anno_di_distribuzione</targetReference>
        </connector>
        <fields>
            <name>Seleziona_il_Budget</name>
            <choiceReferences>budget_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona il Budget</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scegli_la_Donazione_da_pagare</name>
        <label>Scegli la Donazione da pagare</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Collection_of_Allocation_selected</targetReference>
        </connector>
        <fields>
            <name>select_allocations</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GiftTransactionDesignation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona le Donazioni per il calcolo del pagamento</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>select_transactions_allocations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Donation_Transaction_Name__c&quot;,&quot;guid&quot;:&quot;column-50c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Donation Transaction Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8d0f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title__c&quot;,&quot;guid&quot;:&quot;column-9b25&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-41c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-1d5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleziona_il_Programma</name>
        <label>Seleziona il Programma</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recupera_enrollments</targetReference>
        </connector>
        <fields>
            <name>Seleziona_Programma</name>
            <choiceReferences>list_programs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona Programma</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>transazione_paid</name>
        <label>transazione paid</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>paid</name>
            <fieldText>&lt;p&gt;La transazione distribuita al budget è stata già pagata, non è possibile creare un nuovo pagamento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>frops_flow__ManageGiftDesignations</sourceTemplate>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Conferma_Pagamento_Flow_1</name>
        <label>Conferma Pagamento Flow 1</label>
        <locationX>292</locationX>
        <locationY>3062</locationY>
        <flowName>Close_Payment</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>pagamentoId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Crea_Pagamento_Shadow_autolaunched</name>
        <label>Crea Pagamento Shadow - autolaunched</label>
        <locationX>424</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <flowName>Crea_Pagamento_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>pagamentoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>totali_budget_anno_id</name>
            <value>
                <elementReference>Recupera_Budget_Anno.Totali_Budget_Anno__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountIdEnrolled</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>anno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budget_to_assign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Seleziona_il_Budget</elementReference>
        </value>
    </variables>
    <variables>
        <name>final_id_donation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_list_allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>pagamentoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment_done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the gift commitment or gift transaction record that’s passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>total_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
