mdapi/flows/Collega_Fattura_ad_Overview_Budget_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Programma</name>
        <label>Assegna Programma</label>
        <locationX>687</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>program_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Overview_Budget_Anno.Programma__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donatore_Anno_vuoto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_programma_esistente</name>
        <label>Assegna programma</label>
        <locationX>423</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>program_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Overview_Budget_per_Anno__r.Programma__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donatore_Anno_vuoto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Shadow_Id</name>
        <label>Assegna Shadow Id</label>
        <locationX>423</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>shadow_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fattura_Shadow__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Donatore_Anno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Totali_ID</name>
        <label>Assegna Totali ID</label>
        <locationX>60</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>totali_budget_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totali_donatore_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno.Totali_Donatore_Anno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donatore_anno_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trovata_Shadow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Totali_ID_default</name>
        <label>Assegna Totali ID</label>
        <locationX>588</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>totali_budget_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Overview_Budget_per_Anno__r.Totali_Budget_Anno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totali_donatore_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno_default.Totali_Donatore_Anno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donatore_anno_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno_default.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_NON_ASSEGNATO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Fattura_aggiornata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Totali_ID_gratuito</name>
        <label>Assegna Totali ID</label>
        <locationX>324</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>totali_budget_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Overview_Budget_per_Anno__r.Totali_Budget_Anno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totali_donatore_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno_gratuito.Totali_Donatore_Anno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donatore_anno_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Anno_gratuito.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Donatore_Gratuito.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Fattura_aggiornata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assegna_Totali_ID</name>
        <label>Copy 1 of Assegna Totali ID</label>
        <locationX>852</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>totali_budget_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totali_donatore_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reporting_Year__r.Totali_Donatore_Anno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donatore_anno_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reporting_Year__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trovata_Shadow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Budget_per_Anno_presente</name>
        <label>Budget per Anno presente?</label>
        <locationX>555</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Overview_Budget_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overview_Budget_per_Anno__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_programma_esistente</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donatore_Anno_vuoto</name>
        <label>Donatore Anno vuoto?</label>
        <locationX>555</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assegna_Totali_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vuoto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_associata_a_donatore</targetReference>
            </connector>
            <label>Vuoto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fattura_associata_a_donatore</name>
        <label>Fattura associata a Donatore?</label>
        <locationX>258</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Gratuita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donatore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Donatore_Anno</targetReference>
            </connector>
            <label>Yes Donatore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gratuita</name>
        <label>Gratuita?</label>
        <locationX>456</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Donatore_NON_ASSEGNATO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fattura_Gratuita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prestazione_Gratuita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Donatore_Gratuito</targetReference>
            </connector>
            <label>Fattura Gratuita</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_flow</name>
        <label>Skip flow?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Budget_per_Anno_presente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bypass_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trovata_Shadow</name>
        <label>Trovata Shadow?</label>
        <locationX>555</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Crea_Shadow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trovata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fattura_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Shadow_Id</targetReference>
            </connector>
            <label>Trovata</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Data_di_Competenza__c}))</expression>
    </formulas>
    <formulas>
        <name>Fattura_Shadow_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Collega Fattura ad Overview Budget Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collega Fattura ad Overview Budget Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Shadow</name>
        <label>Crea Shadow</label>
        <locationX>687</locationX>
        <locationY>2063</locationY>
        <assignRecordIdToReference>shadow_id</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_puntamento_Shadow</targetReference>
        </connector>
        <inputAssignments>
            <field>Fattura__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Fattura_Shadow_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Durata_Visite_Static__c</field>
            <value>
                <elementReference>$Record.Total_Duration_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Fattura_Static__c</field>
            <value>
                <elementReference>$Record.Totale_Fattura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Biglietti_Static__c</field>
            <value>
                <elementReference>$Record.Totale_Biglietti__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totale_Numero_di_Visite_Static__c</field>
            <value>
                <elementReference>$Record.Total_Number_of_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>totali_budget_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Donatore_Anno__c</field>
            <value>
                <elementReference>totali_donatore_id</elementReference>
            </value>
        </inputAssignments>
        <object>Fattura_Shadow__c</object>
    </recordCreates>
    <recordLookups>
        <name>Ottieni_Donatore_Anno</name>
        <label>Ottieni Donatore Anno</label>
        <locationX>60</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Totali_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Anno_di_Competenza__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Donatore_Anno_default</name>
        <label>Ottieni Donatore Anno</label>
        <locationX>588</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Totali_ID_default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Donatore_NON_ASSEGNATO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Anno_di_Competenza__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Donatore_Anno_gratuito</name>
        <label>Ottieni Donatore Anno</label>
        <locationX>324</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Totali_ID_gratuito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Donatore_Gratuito.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Anno_di_Competenza__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Donatore_Gratuito</name>
        <label>Ottieni Donatore Gratuito</label>
        <locationX>324</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Donatore_Anno_gratuito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GRATUITO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Donatore_NON_ASSEGNATO</name>
        <label>Ottieni Donatore NON ASSEGNATO</label>
        <locationX>588</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Donatore_Anno_default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DEFAULT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Overview_Budget_Anno</name>
        <label>Ottieni Overview Budget Anno</label>
        <locationX>687</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Budget_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Fattura_aggiornata</name>
        <label>Recupera Fattura aggiornata</label>
        <locationX>456</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trovata_Shadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Budget_Anno</name>
        <label>Aggiorna Budget Anno</label>
        <locationX>687</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assegna_Programma</targetReference>
        </connector>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Ottieni_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Donatore_Anno</name>
        <label>Aggiorna Fattura con Donatore Anno</label>
        <locationX>555</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>account_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Year__c</field>
            <value>
                <elementReference>donatore_anno_id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_puntamento_Shadow</name>
        <label>Aggiorna puntamento Shadow</label>
        <locationX>687</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Aggiorna_Donatore_Anno</targetReference>
        </connector>
        <inputAssignments>
            <field>Fattura_Shadow__c</field>
            <value>
                <elementReference>shadow_id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_flow</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</name>
        <label>Aggiorna Valori Statici Fattura Shadow - autolaunched</label>
        <locationX>555</locationX>
        <locationY>2471</locationY>
        <flowName>Aggiorna_Valori_Statici_Fattura_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>shadow_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_fattura</name>
            <value>
                <elementReference>$Record.Totale_Fattura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_durata</name>
            <value>
                <elementReference>$Record.Total_Duration_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_visite</name>
            <value>
                <elementReference>$Record.Total_Number_of_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totale_biglietti</name>
            <value>
                <elementReference>$Record.Totale_Biglietti__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totali_budget_id</name>
            <value>
                <elementReference>totali_budget_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_totali_donatore_id</name>
            <value>
                <elementReference>totali_donatore_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_skip_lookup</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_anno_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>number_invoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>program_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>total_invoices_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>total_minutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>total_number_visits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totali_budget_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totali_donatore_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
