mdapi/flows/Collega_Distribuzione_ad_Overview_Budget_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Data_di_Distribuzione__c}))</expression>
    </formulas>
    <interviewLabel>Collega Distribuzione ad Overview Budget Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collega Distribuzione ad Overview Budget Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cerca_Overview_Budget_Anno</name>
        <label>Cerca Overview Budget Anno</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cerca_Overview_Donatore_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftDesignation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cerca_Overview_Donatore_Anno</name>
        <label>Cerca Overview Donatore Anno</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Distribuzione_con_Overview_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftTransaction.Donor.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno_overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Distribuzione_con_Overview_Anno</name>
        <label>Aggiorna Distribuzione con Overview Anno</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Cerca_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_Donatore_per_Anno__c</field>
            <value>
                <elementReference>Cerca_Overview_Donatore_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cerca_Overview_Budget_Anno</targetReference>
        </connector>
        <object>GiftTransactionDesignation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>old_overview_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
