mdapi/flows/Crea_Massivamente_Distribuzioni_Shadow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>Distribuzione_Shadow_Name</name>
        <dataType>String</dataType>
        <expression>{!Loop_su_Distribuzioni.Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Crea Massivamente Distribuzioni Shadow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Massivamente Distribuzioni Shadow</label>
    <loops>
        <name>Loop_su_Distribuzioni</name>
        <label>Loop su Distribuzioni</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Recupera_Distribuzioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Shadow</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Shadow</name>
        <label>Crea Shadow</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Aggiorna_Puntamento_Shadow</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Static__c</field>
            <value>
                <elementReference>Loop_su_Distribuzioni.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Distribuzione_Shadow_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Static__c</field>
            <value>
                <elementReference>Loop_su_Distribuzioni.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>Loop_su_Distribuzioni.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <object>Distribuzione_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recupera_Distribuzioni</name>
        <label>Recupera Distribuzioni</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Distribuzioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distribuzione_Shadow__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>30.0</numberValue>
        </limit>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Puntamento_Shadow</name>
        <label>Aggiorna Puntamento Shadow</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_su_Distribuzioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Distribuzioni.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distribuzione_Shadow__c</field>
            <value>
                <elementReference>Crea_Shadow</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransactionDesignation</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Distribuzioni</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
