mdapi/flows/Crea_Nuovo_Donatore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Person_Id_RT</name>
        <label>Assign Person Id RT</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>record_type_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Person_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salva_Donatore_person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Company</name>
        <label>Assign Record Type Company</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>record_type_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Company_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salva_Donatore_company</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>grande</name>
        <choiceText>Grande Donatore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>grande_donatore</stringValue>
        </value>
    </choices>
    <choices>
        <name>piccolo</name>
        <choiceText>Piccolo Donatore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>piccolo_donatore</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Donor_Type</name>
        <label>Donor Type?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Person_Id_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_di_Donatore_correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grande_donatore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Type_Company</targetReference>
            </connector>
            <label>Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Holding_populated</name>
        <label>Is Holding populated?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Seleziona_Programmi_per_Stakeholders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Holding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_con_Holding</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>list_donors</name>
        <dataType>String</dataType>
        <displayField>Nome_Donatore__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investor</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Company_Record_Types.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Nome_Donatore__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>new_account_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GiftType</picklistField>
        <picklistObject>GiftEntry</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>payment_method_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod</picklistField>
        <picklistObject>GiftEntry</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relation_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GiftType</picklistField>
        <picklistObject>GiftEntry</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Crea Nuovo Donatore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Nuovo Donatore</label>
    <loops>
        <name>Loop_su_Programmi</name>
        <label>Loop su Programmi</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>Cerca_Programmi</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cerca_o_Crea_Program_Enrollment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Salva_Donatore_company</name>
        <label>Salva Donatore Company</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>account_created</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Holding_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>CF__c</field>
            <value>
                <elementReference>CF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Account_Fax_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome_account_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_IVA__c</field>
            <value>
                <elementReference>P_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Account_phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>record_type_account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Investor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Account_website_0.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Salva_Donatore_person</name>
        <label>Salva Donatore Person</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>account_created</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Holding_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>CF__c</field>
            <value>
                <elementReference>CF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Account_Fax_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Cognome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_IVA__c</field>
            <value>
                <elementReference>P_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Account_phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>record_type_account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Investor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Account_website_0.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Cerca_Programmi</name>
        <label>Cerca Programmi</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Programmi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lista_programmi_enrolled</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Company_Record_Types</name>
        <label>get Company Record Types</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Person_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Account_Record_Type</name>
        <label>get Person Account Record Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_nuovo_Donatore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_con_Holding</name>
        <label>Aggiorna con Holding</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Seleziona_Programmi_per_Stakeholders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_created</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Holding</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Crea_nuovo_Donatore</name>
        <label>Crea nuovo Donatore</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Donor_Type</targetReference>
        </connector>
        <fields>
            <name>Crea_nuovo_Donatore_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crea_nuovo_Donatore_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_di_Donatore_correct</name>
                    <choiceReferences>grande</choiceReferences>
                    <choiceReferences>piccolo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo di Donatore</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nome_account_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Nome Azienda</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_di_Donatore_correct</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>grande_donatore</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Data_di_Ingresso_ai_Programmi</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Data di Ingresso ai Programmi</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_di_Donatore_correct</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>piccolo_donatore</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cognome</name>
                    <dataType>String</dataType>
                    <fieldText>Cognome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_di_Donatore_correct</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>piccolo_donatore</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CF</name>
                    <dataType>String</dataType>
                    <fieldText>CF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>P_IVA</name>
                    <dataType>String</dataType>
                    <fieldText>P.IVA</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crea_nuovo_Donatore_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Holding</name>
                    <choiceReferences>list_donors</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Holding</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_di_Donatore_correct</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>grande_donatore</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Indirizzo</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Indirizzo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description_0</name>
                    <dataType>String</dataType>
                    <fieldText>Descrizione</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account_phone_0</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefono</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account_Fax_0</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fax</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account_website_0</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sito Web</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Company_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cerca_o_Crea_Program_Enrollment</name>
        <label>Cerca o Crea Program Enrollment</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Crea_Donatore_Programma</targetReference>
        </connector>
        <flowName>Cerca_o_Crea_Program_Enrollment</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>account_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>crea_se_non_esiste</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollment_start_date</name>
            <value>
                <elementReference>Data_di_Ingresso_ai_Programmi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>Loop_su_Programmi.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>enrollment_created</assignToReference>
            <name>enrollment</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Crea_Donatore_Programma</name>
        <label>Crea Donatore Programma</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Loop_su_Programmi</targetReference>
        </connector>
        <flowName>Crea_Donatore_Programma</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>account_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>Loop_su_Programmi.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Seleziona_Programmi_per_Stakeholders</name>
        <label>Seleziona Programmi per Stakeholders</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Cerca_Programmi</targetReference>
        </connector>
        <flowName>Seleziona_Programmi_per_Stakeholders</flowName>
        <outputAssignments>
            <assignToReference>lista_programmi_enrolled</assignToReference>
            <name>program_list_output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account_created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>enrollment_created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramEnrollment</objectType>
    </variables>
    <variables>
        <name>list_programs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program</objectType>
    </variables>
    <variables>
        <name>lista_programmi_enrolled</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>program_name_current</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_type_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
