mdapi/flows/Crea_Transazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Transaction_Name</name>
        <dataType>String</dataType>
        <expression>IF({!Ottieni_Donazione.Donor.IsPersonAccount},
    {!Ottieni_Donazione.Donor.PersonContact.FirstName} &amp; &quot; &quot; &amp; {!Ottieni_Donazione.Donor.PersonContact.LastName},
    {!Ottieni_Donazione.Donor.Name}
)
&amp; &quot; - &quot; 
&amp; TEXT({!Ottieni_Donazione.GiftAmount}) 
&amp; &quot; - &quot; 
&amp; TEXT({!Ottieni_Donazione.Data_di_Competenza__c})</expression>
    </formulas>
    <formulas>
        <name>Transaction_Shadow_Name</name>
        <dataType>String</dataType>
        <expression>{!Transaction_Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Crea Transazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Transazione</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Transazione</name>
        <label>Crea Transazione</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>transactionID</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_Donazione</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Ottieni_Donazione.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation__c</field>
            <value>
                <elementReference>Ottieni_Donazione.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>Ottieni_Donazione.Donor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftType</field>
            <value>
                <elementReference>Ottieni_Donazione.GiftType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Transaction_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>Ottieni_Donazione.GiftAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>Ottieni_Donazione.PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment not Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programma__c</field>
            <value>
                <elementReference>Ottieni_Donazione.Programma__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Year__c</field>
            <value>
                <elementReference>Ottieni_Donazione.Reporting_Year__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>Ottieni_Donazione.Data_di_Competenza__c</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordCreates>
    <recordLookups>
        <name>Ottieni_Donazione</name>
        <label>Ottieni Donazione</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Transazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Donazione</name>
        <label>Aggiorna Donazione</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Donazione.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GiftTransactionId</field>
            <value>
                <elementReference>transactionID</elementReference>
            </value>
        </inputAssignments>
        <object>GiftEntry</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Donazione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>transazione_shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
