mdapi/flows/Crea_Distribuzione_Shadow_autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Esiste_Shadow</name>
        <label>Esiste Shadow?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Totali_in_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Distribuzione.Distribuzione_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Valori_Statici_Distribuzione_Shadow_autolaunched</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Totali_in_input</name>
        <label>Totali in input?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Crea_Shadow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Totali_passati</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totali_budget_anno_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Shadow</targetReference>
            </connector>
            <label>Totali passati</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>distribuzione_shadow_name</name>
        <dataType>String</dataType>
        <expression>{!Recupera_Distribuzione.Name} &amp; &quot; - Shadow&quot;</expression>
    </formulas>
    <interviewLabel>Crea Distribuzione Shadow - autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Distribuzione Shadow - autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Crea_Shadow</name>
        <label>Copy 1 of Crea Shadow</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>distribuzione_shadow_id</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_Distribuzione</targetReference>
        </connector>
        <inputAssignments>
            <field>Donation_Transaction_Allocation__c</field>
            <value>
                <elementReference>Recupera_Distribuzione.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>distribuzione_shadow_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>Recupera_Distribuzione.Overview_Budget_per_Anno__r.Totali_Budget_Anno__c</elementReference>
            </value>
        </inputAssignments>
        <object>Distribuzione_Shadow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Shadow</name>
        <label>Crea Shadow</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>distribuzione_shadow_id</assignRecordIdToReference>
        <connector>
            <targetReference>Aggiorna_Distribuzione</targetReference>
        </connector>
        <inputAssignments>
            <field>Donation_Transaction_Allocation__c</field>
            <value>
                <elementReference>Recupera_Distribuzione.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>distribuzione_shadow_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>totali_budget_anno_id</elementReference>
            </value>
        </inputAssignments>
        <object>Distribuzione_Shadow__c</object>
    </recordCreates>
    <recordLookups>
        <name>Recupera_Distribuzione</name>
        <label>Recupera Distribuzione</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_Shadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Distribuzione</name>
        <label>Aggiorna Distribuzione</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_New_Distribuzione_Shadow_autolaunched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distribuzione_Shadow__c</field>
            <value>
                <elementReference>distribuzione_shadow_id</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransactionDesignation</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Distribuzione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Distribuzione_Shadow_autolaunched</name>
        <label>Aggiorna Valori Statici Distribuzione Shadow - autolaunched</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Aggiorna_Valori_Statici_Distribuzione_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Recupera_Distribuzione.Distribuzione_Shadow__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Aggiorna_Valori_Statici_New_Distribuzione_Shadow_autolaunched</name>
        <label>Aggiorna Valori Statici New Distribuzione Shadow - autolaunched</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <flowName>Aggiorna_Valori_Statici_Distribuzione_Shadow_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>distribuzione_shadow_id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>distribuzione_shadow_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totali_budget_anno_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
