mdapi/flows/Crea_Overview_per_Nuovo_Programma.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ReportingYearEnd2EndAction</name>
        <label>ReportingYearEnd2EndAction</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <actionName>ReportingYearEnd2EndAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Anno_corrente_ultimo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>yearName</name>
            <value>
                <elementReference>anno_corrente</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReportingYearEnd2EndAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Anno_incrementale</name>
        <label>Assegna Anno incrementale</label>
        <locationX>308</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>anno_corrente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>anno_successivo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>anno_successivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nuovo_anno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Recupera_Anno_corrente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_primo_anno</name>
        <label>Assegna primo anno</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>anno_corrente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>anno_inizio_programma_stringa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>anno_successivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nuovo_anno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recupera_Anno_corrente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anno_corrente_ultimo</name>
        <label>Anno corrente = ultimo?</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Assegna_Anno_incrementale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>anno_corrente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ultimo_anno_programma</elementReference>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_Anno</name>
        <label>Esiste Anno?</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ReportingYearEnd2EndAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>esiste_anno_corrente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Anno_corrente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anno_corrente_ultimo</targetReference>
            </connector>
            <label>Esiste Anno</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>anno_inizio_programma_stringa</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.StartDate}))</expression>
    </formulas>
    <formulas>
        <name>nuovo_anno</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!anno_corrente})+1)</expression>
    </formulas>
    <formulas>
        <name>ultimo_anno_programma</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    YEAR({!$Record.EndDate})&gt;YEAR({!$Flow.CurrentDate}),
    ISBLANK({!$Record.EndDate})
  ), 
  TEXT(YEAR({!$Flow.CurrentDate})),
  TEXT(YEAR({!$Record.EndDate}))
)</expression>
    </formulas>
    <interviewLabel>Crea Overview per Nuovo Programma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Overview per Nuovo Programma</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Anno_corrente</name>
        <label>Recupera Anno corrente</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_Anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_corrente</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Anno_Reportistica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assegna_primo_anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <object>Program</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>anno_corrente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>anno_successivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_anni</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reporting_year</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Anno_Reportistica__c</objectType>
    </variables>
</Flow>
