mdapi/flows/Crea_Donatore_Programma.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AllineaDonatoreAnnoAction</name>
        <label>AllineaDonatoreAnnoAction</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>AllineaDonatoreAnnoAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>overviewDonatoreId</name>
            <value>
                <elementReference>donatore_overview_id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AllineaDonatoreAnnoAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_Overview_ID</name>
        <label>Assegna Overview ID</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>donatore_overview_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Carica_Overview_Donatore.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllineaDonatoreAnnoAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Overview_ID_nuova</name>
        <label>Assegna Overview ID</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>donatore_overview_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Donor_Overview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllineaDonatoreAnnoAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esiste_Enrollment</name>
        <label>Esiste Enrollment?</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esiste_enrollment_attivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carica_Overview_Donatore</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overview_esiste</name>
        <label>Overview esiste?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Donor_Overview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Carica_Overview_Donatore.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Overview_ID</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>donor_overview_name</name>
        <dataType>String</dataType>
        <expression>&quot;Overview - &quot; &amp; 
IF({!Recupera_Account.IsPersonAccount},
    {!Recupera_Account.PersonContact.FirstName} &amp; &quot; &quot; &amp; {!Recupera_Account.PersonContact.LastName},
    {!Recupera_Account.Name}
)
&amp; &quot; - &quot; &amp; {!Ottieni_Programma.Name}</expression>
    </formulas>
    <interviewLabel>Crea Donatore Programma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Donatore Programma</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donor_Overview</name>
        <label>Create Donor Overview</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assegna_Overview_ID_nuova</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>donor_overview_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programma__c</field>
            <value>
                <elementReference>Ottieni_Programma.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Carica_Overview_Donatore</name>
        <label>Carica Overview Donatore</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overview_esiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Programma.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donor_Overview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cer</name>
        <label>Cerca Program Enrollment</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Programma.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Programma</name>
        <label>Ottieni Programma</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Account</name>
        <label>Recupera Account</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Programma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_overview_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
