mdapi/flows/Create_New_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aggiungi_AccountId_in_lista</name>
        <label>Aggiungi AccountId in lista</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>accountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_su_enrollments.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_su_enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_tipo_donazione</name>
        <label>Assegna tipo donazione</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>tipo_donazione</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organizational</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Donor_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_tipo_donazione_0</name>
        <label>Assegna tipo donazione</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>tipo_donazione</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Personal_Account_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Account</name>
        <label>Assign Record Type Account</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>record_type_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Donor_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inserisci_Donatore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_individual</name>
        <label>Assign Record Type individual</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>record_type_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Personal_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inserisci_Donatore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>generate_donation</name>
        <label>generate_donation</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>new_donation.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.GiftAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.GiftType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tipo_donazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Metodo_di_pagamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.GiftReceivedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_di_ricezione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.OrganizationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Original_Donation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ammontare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Withholding_percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trattenuta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_della_Donazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Year_of_the_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatte_donation_year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Programma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Programma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Tipo_Donatore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_donation.Data_di_Competenza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_di_Competenza</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>distribuisci</name>
        <dataType>String</dataType>
        <value>
            <stringValue>distribuisci</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Crea_nuovo_account_decision</name>
        <label>Crea nuovo account?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Estrai_Enrollments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nuovo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crea_Nuovo_Account.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nuovo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Nuovo_Donatore</targetReference>
            </connector>
            <label>nuovo</label>
        </rules>
        <rules>
            <name>esistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crea_Nuovo_Account.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>esistente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estrai_Enrollments</targetReference>
            </connector>
            <label>esistente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Donatore</name>
        <label>Tipo Donatore</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assegna_tipo_donazione_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grande_donatore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_tipo_donazione</targetReference>
            </connector>
            <label>Company</label>
        </rules>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>piccolo_donatore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_tipo_donazione_0</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vuoi_distribuire</name>
        <label>Vuoi distribuire?</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Fine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>procedi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttons_to_assign_budget.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>distribuisci</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestisci_Allocazione</targetReference>
            </connector>
            <label>procedi</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>campaign_list</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Data_di_Competenza</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Data_di_Competenza</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>donor_choice_set</name>
        <collectionReference>donor_list</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>new_account_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GiftType</picklistField>
        <picklistObject>GiftEntry</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>payment_method_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod</picklistField>
        <picklistObject>GiftEntry</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Program_list</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <object>Program</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relation_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_Donatore__c</picklistField>
        <picklistObject>GiftEntry</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>calculatte_donation_year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Data_di_ricezione}))</expression>
    </formulas>
    <formulas>
        <name>final_amount</name>
        <dataType>Currency</dataType>
        <expression>{!Ammontare}-{!Trattenuta}*{!Ammontare}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create New Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Donation</label>
    <loops>
        <name>Loop_su_enrollments</name>
        <label>Loop su enrollments</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <collectionReference>Estrai_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggiungi_AccountId_in_lista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Search_Donors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Assegna_Donatore_per_Anno</targetReference>
        </connector>
        <inputReference>new_donation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Estrai_Enrollments</name>
        <label>Estrai Enrollments</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Programma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>generate_donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleziona_donatore_da_lista.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Donation</name>
        <label>Get Created Donation</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_donation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Donor_Record_Types</name>
        <label>get Company Record Types</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Personal_Account_Record_Type</name>
        <label>get Personal Account Record Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Donors</name>
        <label>Search Donors</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_donor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_type_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>DEFAULT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GRATUITO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>donor_list</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Assegna_Budgets</name>
        <label>Assegna Budgets</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vuoi_distribuire</targetReference>
        </connector>
        <fields>
            <name>buttons_to_assign_budget</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Distribuisci ai Budgets&quot;,&quot;value&quot;:&quot;distribuisci&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Non distribuire&quot;,&quot;value&quot;:&quot;non_distribuire&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>distribuisci</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vuoi effettuare la distribuzione della donazione ai budgets?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Donazione_creata_con_successo</name>
        <label>Donazione creata con successo</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Transazione</targetReference>
        </connector>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;Grazie, la donazione è stata creata con successo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fine</name>
        <label>Fine</label>
        <locationX>446</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>grazie</name>
            <fieldText>&lt;p&gt;La donazione è stata creata, per effettuare la distribuzione ai budgets, usa l&apos;apposita funzionalità presente sulla Home Page&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inserisci_Donatore</name>
        <label>Inserisci Donatore</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_nuovo_account_decision</targetReference>
        </connector>
        <fields>
            <name>Inserisci_Donatore_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inserisci_Donatore_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Crea_Nuovo_Account</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>above</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Usa Donatore esistente&quot;,&quot;value&quot;:&quot;esistente&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Crea Nuovo Donatore&quot;,&quot;value&quot;:&quot;nuovo&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>esistente</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <stringValue>yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Decidi che donatore vuoi selezioanre</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inserisci_Nuova_Donazione</name>
        <label>Inserisci Nuova Donazione</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tipo_Donatore</targetReference>
        </connector>
        <fields>
            <name>Inserisci_Nuova_Donazione_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inserisci_Nuova_Donazione_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_della_Donazione</name>
                    <dataType>String</dataType>
                    <fieldText>Descrizione</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo</name>
                    <choiceReferences>type_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo Donatore</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Data_di_ricezione</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Data di ricezione</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Trattenuta</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>20.0</numberValue>
                    </defaultValue>
                    <fieldText>Trattenuta %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inserisci_Nuova_Donazione_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Programma</name>
                    <choiceReferences>Program_list</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Programma</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Ammontare</name>
                    <dataType>Currency</dataType>
                    <fieldText>Ammontare</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Data_di_Competenza</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Data_di_ricezione</elementReference>
                    </defaultValue>
                    <fieldText>Data di Competenza</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Metodo_di_pagamento</name>
                    <choiceReferences>payment_method_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Metodo di pagamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_donor</name>
        <label>Select Donor</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <fields>
            <name>Seleziona_donatore_da_lista</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona il donatore</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>donor_list</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-05db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e186&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RecordTypeId&quot;,&quot;guid&quot;:&quot;column-8d9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Record Type ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserisci_Nuova_Donazione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assegna_Donatore_per_Anno</name>
        <label>Assegna Donatore per Anno</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Donazione_creata_con_successo</targetReference>
        </connector>
        <flowName>Assegna_Donatore_Anno</flowName>
        <inputAssignments>
            <name>donorId</name>
            <value>
                <elementReference>Get_Account_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId</name>
            <value>
                <elementReference>Programma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>new_donation.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Crea_Nuovo_Donatore</name>
        <label>Crea Nuovo Donatore</label>
        <locationX>94</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Estrai_Enrollments</targetReference>
        </connector>
        <flowName>Crea_Nuovo_Donatore</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Crea_Transazione</name>
        <label>Crea Transazione</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Get_Created_Donation</targetReference>
        </connector>
        <flowName>Crea_Transazione</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>new_donation.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>transactionId</assignToReference>
            <name>transactionID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Gestisci_Allocazione</name>
        <label>Gestisci Allocazione</label>
        <locationX>182</locationX>
        <locationY>2762</locationY>
        <flowName>Gestisci_distribuzione_di_una_transazione</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>transactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId</name>
            <value>
                <elementReference>Programma</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>create_new_donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftEntry</objectType>
    </variables>
    <variables>
        <name>donor_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>new_donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftEntry</objectType>
    </variables>
    <variables>
        <name>record_type_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tipo_donazione</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
