mdapi/flows/Crea_Overview_Programma_da_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Categoria</name>
        <label>Categoria?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donatore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Donatore_Programma</targetReference>
            </connector>
            <label>Donatore</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recupera_Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Budget_Programma</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crea Overview Programma da Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Overview Programma da Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recupera_Account</name>
        <label>Recupera Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Categoria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProgramEnrollment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crea_Budget_Programma</name>
        <label>Crea Budget Programma</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Crea_Budget_Programma</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>Recupera_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>$Record.ProgramId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Crea_Donatore_Programma</name>
        <label>Crea Donatore Programma</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Crea_Donatore_Programma</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>Recupera_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>$Record.ProgramId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
