mdapi/flows/Crea_Nuova_Campagna.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_a_Campagna</name>
        <label>Assegna a Campagna</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>new_campaign.Programma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.Donatore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donatore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Inizio_Campagna</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Fine_Campagna</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_della_Campagna</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_di_Campagna</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descrizione_della_Campagna</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_campaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_Campagna</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>list_donatori</name>
        <collectionReference>Recupera_Donatori</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_programmi</name>
        <collectionReference>Recupera_Programmi</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Program</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>status_campagna</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipo_campagna</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>campaign_name</name>
        <dataType>String</dataType>
        <expression>{!donatore} &amp; &quot; - &quot; &amp; {!programma} &amp; &quot; - &quot; &amp; {!Nome_della_Campagna}</expression>
    </formulas>
    <interviewLabel>Crea Nuova Campagna {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Nuova Campagna</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Campagna</name>
        <label>Crea Campagna</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>recupera_Campagna</targetReference>
        </connector>
        <inputReference>new_campaign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>recupera_Campagna</name>
        <label>recupera Campagna</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Grazie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Donatori</name>
        <label>Recupera Donatori</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recupera_Programmi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Programmi</name>
        <label>Recupera Programmi</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Nuova_Campagna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Crea_Nuova_Campagna</name>
        <label>Crea Nuova Campagna</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_a_Campagna</targetReference>
        </connector>
        <fields>
            <name>Crea_Nuova_Campagna_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crea_Nuova_Campagna_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>donatore</name>
                    <choiceReferences>list_donatori</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Seleziona il Donatore</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>programma</name>
                    <choiceReferences>list_programmi</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Seleziona il Programma</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_di_Campagna</name>
                    <choiceReferences>tipo_campagna</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo di Campagna</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Stato_della_Campagna</name>
                    <choiceReferences>status_campagna</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>In Progress</stringValue>
                    </defaultValue>
                    <fieldText>Stato della Campagna</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crea_Nuova_Campagna_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_della_Campagna</name>
                    <dataType>String</dataType>
                    <fieldText>Nome della Campagna</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Descrizione_della_Campagna</name>
                    <dataType>String</dataType>
                    <fieldText>Descrizione della Campagna</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Data_Inizio_Campagna</name>
                    <dataType>Date</dataType>
                    <fieldText>Data Inizio Campagna</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Data_Fine_Campagna</name>
                    <dataType>Date</dataType>
                    <fieldText>Data Fine Campagna</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Grazie</name>
        <label>Grazie</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;E&apos; stata creata la campagna {!recupera_Campagna.Name}, relativa al donatore {!recupera_Campagna.Donatore__r.Name} ed al programma {!recupera_Campagna.Programma__r.Name}, valida da {!recupera_Campagna.StartDate} a {!recupera_Campagna.EndDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Donatori</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
