mdapi/flows/Crea_Nuovo_Budget_manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Crea Nuovo Budget {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Nuovo Partner</label>
    <loops>
        <name>Loop_su_Programmi</name>
        <label>Loop su Programmi</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Cerca_Programmi</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cerca_o_Crea_Program_Enrollment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Partner</name>
        <label>Crea Partner</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>account_created</assignRecordIdToReference>
        <connector>
            <targetReference>Seleziona_Programmi_per_Stakeholders</targetReference>
        </connector>
        <inputAssignments>
            <field>CF__c</field>
            <value>
                <elementReference>CF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Descrizione</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Fax.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome_del_Partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_IVA__c</field>
            <value>
                <elementReference>P_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefono.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Cerca_Record_Type_Partner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Sito_web.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Cerca_Programmi</name>
        <label>Cerca Programmi</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Programmi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lista_programmi_enrolled</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cerca_Record_Type_Partner</name>
        <label>Cerca Record Type Partner</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Nuovo_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Crea_Nuovo_Partner</name>
        <label>Crea Nuovo Partner</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_Partner</targetReference>
        </connector>
        <fields>
            <name>Crea_Nuovo_Partner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crea_Nuovo_Partner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_del_Partner</name>
                    <dataType>String</dataType>
                    <fieldText>Nome del Partner</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Data_di_ingresso_ai_Programmi</name>
                    <dataType>Date</dataType>
                    <fieldText>Data di ingresso ai Programmi</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CF</name>
                    <dataType>String</dataType>
                    <fieldText>CF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>P_IVA</name>
                    <dataType>String</dataType>
                    <fieldText>P.IVA</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crea_Nuovo_Partner_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Indirizzo</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Indirizzo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Descrizione</name>
                    <dataType>String</dataType>
                    <fieldText>Descrizione</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Telefono</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefono</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fax</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fax</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sito_web</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sito Web</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cerca_Record_Type_Partner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cerca_o_Crea_Program_Enrollment</name>
        <label>Cerca o Crea Program Enrollment</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Crea_Budget_Programma</targetReference>
        </connector>
        <flowName>Cerca_o_Crea_Program_Enrollment</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>account_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>crea_se_non_esiste</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollment_start_date</name>
            <value>
                <elementReference>Data_di_ingresso_ai_Programmi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>Loop_su_Programmi.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>enrollment_created</assignToReference>
            <name>enrollment</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Crea_Budget_Programma</name>
        <label>Crea Budget Programma</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_su_Programmi</targetReference>
        </connector>
        <flowName>Crea_Budget_Programma</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>account_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>Loop_su_Programmi.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Seleziona_Programmi_per_Stakeholders</name>
        <label>Seleziona Programmi per Stakeholders</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Cerca_Programmi</targetReference>
        </connector>
        <flowName>Seleziona_Programmi_per_Stakeholders</flowName>
        <outputAssignments>
            <assignToReference>lista_programmi_enrolled</assignToReference>
            <name>program_list_output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account_created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enrollment_created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramEnrollment</objectType>
    </variables>
    <variables>
        <name>lista_programmi_enrolled</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
