mdapi/flows/Crea_Overview_Budget_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Already_present</name>
        <label>Already present?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ottieni_overview_budget_anno.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Totali_Budget_Anno</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>current_year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Reporting_year_name</name>
        <dataType>String</dataType>
        <expression>&quot;Budget - &quot; &amp; {!OttieniBudget.Partner__r.Name} &amp; &quot; - &quot; &amp; {!Ottieni_Programma.Name} &amp;&quot; - &quot; &amp; {!year_name_input}</expression>
    </formulas>
    <formulas>
        <name>totali_anno_name</name>
        <dataType>String</dataType>
        <expression>&quot;Totali Budget - &quot; &amp; {!OttieniBudget.Partner__r.Name} &amp; &quot; - &quot; &amp; {!year_name_input} &amp; &quot; - &quot; &amp; {!Ottieni_Programma.Name}</expression>
    </formulas>
    <interviewLabel>Crea Overview Budget Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Overview Budget Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Totali_Budget_Anno</name>
        <label>Crea Totali Budget Anno</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>totali_budget_anno_id</assignRecordIdToReference>
        <connector>
            <targetReference>create_Overview_per_year</targetReference>
        </connector>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>OttieniBudget.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donatore__c</field>
            <value>
                <elementReference>OttieniBudget.Partner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>totali_anno_name</elementReference>
            </value>
        </inputAssignments>
        <object>Totali_Budget_Anno__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Overview_per_year</name>
        <label>create Overview per year</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Anno_Reportistica__c</field>
            <value>
                <elementReference>Ottieni_Anno_Reportistica.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anno__c</field>
            <value>
                <elementReference>year_name_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>OttieniBudget.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Reporting_year_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programma__c</field>
            <value>
                <elementReference>Ottieni_Programma.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Totali_Budget_Anno__c</field>
            <value>
                <elementReference>totali_budget_anno_id</elementReference>
            </value>
        </inputAssignments>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Ottieni_Anno_Reportistica</name>
        <label>Ottieni Anno Reportistica</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OttieniBudget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Anno_id_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Anno_Reportistica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ottieni_overview_budget_anno</name>
        <label>Ottieni Overview budget per anno</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_overview_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno_Reportistica__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Anno_id_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Programma</name>
        <label>Ottieni Programma</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Anno_Reportistica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OttieniBudget</name>
        <label>Ottieni Budget</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ottieni_overview_budget_anno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_overview_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Programma</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Anno_id_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budget_overview_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>program_id_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reporting_year</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Anno_Reportistica__c</objectType>
    </variables>
    <variables>
        <name>totali_budget_anno_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>year_name_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
