mdapi/flows/Insert_a_new_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Genera_codice_casuale</name>
        <label>Genera codice casuale</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <actionName>RandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Inserisci_i_dati_della_fattura</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>RandomNumber</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>codice_casuale_generato</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recupera_Centro_Medico_Default</name>
        <label>Recupera Centro Medico Default</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <actionName>ConfigurazioniDefaultValueHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ha_Centro_Medico_Default</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>Estrai_Budget.Partner__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConfigurazioniDefaultValueHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>default_medical_center</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Valuta_Prestazione_Gratuita</name>
        <label>Valuta Prestazione Gratuita</label>
        <locationX>446</locationX>
        <locationY>1898</locationY>
        <actionName>ConfigurazioniFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Recupera_Centro_Medico_Default</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>Estrai_Budget.Partner__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConfigurazioniFlowHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>prestazione_gratuita_visibile</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assegna_codice_gratuito</name>
        <label>Assegna codice gratuito</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>invoice_number_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoice_number_gratuita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_Unicit_Invoice_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_codice_input</name>
        <label>Assegna codice input</label>
        <locationX>710</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>invoice_number_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoice_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_Unicit_Invoice_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_codice_non_disponibile</name>
        <label>Assegna codice non disponibile</label>
        <locationX>446</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>invoice_number_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoice_number_non_disponibile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_Unicit_Invoice_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Programma</name>
        <label>Assegna Programma</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>programma_selezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estrai_Programma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Programma_selezionato</name>
        <label>Assegna Programma</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>programma_selezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_program.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_budget_default</name>
        <label>assign_budget_default</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>budget_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_default_budget.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estrai_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_budget_found</name>
        <label>assign_budget_found</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>budget_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budgets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estrai_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_budget_on_behalf</name>
        <label>assign_budget_on_behalf</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>budget_final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seleziona_partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estrai_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conta_enrolled_programs</name>
        <label>Conta enrolled programs</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>program_enrolled_quantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recupera_programmi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Programma_singolo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Imposta_Centro_Medico_Default</name>
        <label>Imposta Centro Medico Default</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>selectedCenter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default_medical_center</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Genera_codice_casuale</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>not_present</name>
        <choiceText>Non Presente</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>text_not_present</elementReference>
        </value>
    </choices>
    <constants>
        <name>nome_sorriso_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sorriso Sospeso</stringValue>
        </value>
    </constants>
    <constants>
        <name>nome_tempo_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tempo Sospeso</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Budget_found_initial</name>
        <label>Budget found Start</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Estrai_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Found_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budgets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budgets.DEFAULT_PRG__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_budget_found</targetReference>
            </connector>
            <label>Budget Found</label>
        </rules>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budgets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budgets.DEFAULT_PRG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budgets.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Behalf</targetReference>
            </connector>
            <label>Budget Found and Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Invoice_Number</name>
        <label>Found Invoice Number?</label>
        <locationX>446</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Overview_Budget_Anno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Same_Invoice_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verifica_Unicit_Invoice_Number.duplicato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_Fattura_gi_presente</targetReference>
            </connector>
            <label>Found Same Invoice Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gratuita</name>
        <label>Gratuita?</label>
        <locationX>446</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Assegna_codice_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prestazione_gratuita_scelta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prestazione_gratuita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_codice_gratuito</targetReference>
            </connector>
            <label>Prestazione gratuita</label>
        </rules>
        <rules>
            <name>Fattura_non_disponibile_scelta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>no_fattura_disponibile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_codice_non_disponibile</targetReference>
            </connector>
            <label>Fattura non disponibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gratuita_donatore</name>
        <label>Gratuita?</label>
        <locationX>710</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>Collega_Fattura_a_Donatore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_gratuita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prestazione_gratuita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recupera_donatore_gratuito</targetReference>
            </connector>
            <label>Gratuita</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_Centro_Medico_Default</name>
        <label>Ha Centro Medico Default?</label>
        <locationX>446</locationX>
        <locationY>2058</locationY>
        <defaultConnector>
            <targetReference>Genera_codice_casuale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ha_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>default_medical_center</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imposta_Centro_Medico_Default</targetReference>
            </connector>
            <label>Sì</label>
        </rules>
    </decisions>
    <decisions>
        <name>on_behalf_valorizzato</name>
        <label>on behalf valorizzato?</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>get_default_budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>seleziona_partner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_budget_on_behalf</targetReference>
            </connector>
            <label>Valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Programma</name>
        <label>Programma</label>
        <locationX>710</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Gratuita_donatore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tempo_Sospeso_program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programma_selezionato.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nome_tempo_sospeso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inizializza_Invoice</targetReference>
            </connector>
            <label>Tempo Sospeso</label>
        </rules>
        <rules>
            <name>Sorriso_Sospeso_program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programma_selezionato.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nome_sorriso_sospeso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Inizializza_Invoice</targetReference>
            </connector>
            <label>Sorriso Sospeso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Programma_singolo</name>
        <label>Programma singolo?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Seleziona_Programma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Singolo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>program_enrolled_quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estrai_Programma</targetReference>
            </connector>
            <label>Singolo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>beneficiary_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Beneficiary_Type__c</picklistField>
        <picklistObject>Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>donation_list</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftDesignationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </filters>
        <object>GiftTransactionDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_of_budgets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DEFAULT_PRG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </filters>
        <object>GiftDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>region_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Data_di_Competenza}))</expression>
    </formulas>
    <formulas>
        <name>invoice_date_string</name>
        <dataType>String</dataType>
        <expression>TEXT({!Data})</expression>
    </formulas>
    <formulas>
        <name>invoice_number_enabled</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT({!prestazione_gratuita}), NOT({!no_fattura_disponibile}))</expression>
    </formulas>
    <formulas>
        <name>invoice_number_gratuita</name>
        <dataType>String</dataType>
        <expression>&quot;GRATUITA-&quot;&amp; {!codice_casuale_generato}</expression>
    </formulas>
    <formulas>
        <name>invoice_number_non_disponibile</name>
        <dataType>String</dataType>
        <expression>&quot;NON DISPONIBILE-&quot;&amp; {!codice_casuale_generato}</expression>
    </formulas>
    <formulas>
        <name>IsFree</name>
        <dataType>Boolean</dataType>
        <expression>IF({!programma_selezionato.Name} = {!nome_tempo_sospeso}, IF({!prestazione_gratuita} = true, true, false), false)</expression>
    </formulas>
    <interviewLabel>Insert a new Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sottometti una Fattura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Inizializza_Invoice</name>
        <label>Inizializza Invoice Sorriso Sospeso</label>
        <locationX>710</locationX>
        <locationY>3170</locationY>
        <assignRecordIdToReference>invoiceId_inizializzata</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_Biglietti_Abbonamenti</targetReference>
        </connector>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_di_Competenza__c</field>
            <value>
                <elementReference>Data_di_Competenza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>invoice_number_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Ottieni_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prestazione_Gratuita__c</field>
            <value>
                <elementReference>IsFree</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Ente</name>
        <label>Crea Ente</label>
        <locationX>446</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Inserisci_Visite_Mediche_Flow_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>signaling_selected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ente_Categoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>signalingCategory_selected</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ente_Categoria__c</field>
            <value>
                <elementReference>signalingCategory_selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>signaling_selected</elementReference>
            </value>
        </inputAssignments>
        <object>Ente_No_Profit__c</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Inizializza_Invoice</name>
        <label>Inizializza Invoice</label>
        <locationX>446</locationX>
        <locationY>3170</locationY>
        <assignRecordIdToReference>invoiceId_inizializzata</assignRecordIdToReference>
        <connector>
            <targetReference>Crea_Ente</targetReference>
        </connector>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_di_Competenza__c</field>
            <value>
                <elementReference>Data_di_Competenza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>invoice_number_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Center__c</field>
            <value>
                <elementReference>selectedCenter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoProfit_Category__c</field>
            <value>
                <elementReference>signalingCategory_selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Profit_Signaling__c</field>
            <value>
                <elementReference>signaling_selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_Budget_per_Anno__c</field>
            <value>
                <elementReference>Ottieni_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prestazione_Gratuita__c</field>
            <value>
                <elementReference>IsFree</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Estrai_Budget</name>
        <label>Estrai Budget</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valuta_Prestazione_Gratuita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Estrai_Programma</name>
        <label>Estrai Programma</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Programma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Ottieni_Lista_Enrolled_Programs.program_list</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Partner</name>
        <label>Get Account Partner</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Lista_Enrolled_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budgets</name>
        <label>Get Budgets</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_found_initial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Partner.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_default_budget</name>
        <label>get default budget</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_budget_default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DEFAULT_PRG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Overview_Budget_Anno</name>
        <label>Ottieni Overview Budget Anno</label>
        <locationX>710</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Programma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overview_Budget_per_Anno__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recupera_donatore_gratuito</name>
        <label>recupera donatore gratuito</label>
        <locationX>578</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Donatore_gratuito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GRATUITO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_programmi</name>
        <label>Recupera programmi</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conta_enrolled_programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Ottieni_Lista_Enrolled_Programs.program_list</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assegna_Donatore_gratuito</name>
        <label>Assegna Donatore gratuito</label>
        <locationX>578</locationX>
        <locationY>3794</locationY>
        <connector>
            <targetReference>end</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceId_inizializzata</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recupera_donatore_gratuito.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>end</name>
        <label>fine</label>
        <locationX>710</locationX>
        <locationY>3986</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finito</name>
            <fieldText>&lt;p&gt;Grazie, la fattura è stata creata.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Chiudi</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errore_Fattura_gi_presente</name>
        <label>Errore, Fattura già presente</label>
        <locationX>182</locationX>
        <locationY>2954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inserisci_i_dati_della_fattura</targetReference>
        </connector>
        <fields>
            <name>errore</name>
            <fieldText>&lt;p&gt;Si è verificato un errore: il numero di fattura risulta già presente a sistema, per favore verifica la correttezza e riprova a sottomettere&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Riprova</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inserisci_i_dati_della_fattura</name>
        <label>Inserisci i dati della fattura</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Gratuita</targetReference>
        </connector>
        <fields>
            <name>Inserisci_i_dati_della_fattura_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inserisci_i_dati_della_fattura_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>no_fattura_disponibile</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Selezionare se non si è in possesso della Fattura al momento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>programma_selezionato.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>nome_tempo_sospeso</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inserisci_i_dati_della_fattura_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>prestazione_gratuita</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Selezionare se si tratta di una prestazione Gratuita</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>programma_selezionato.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>nome_tempo_sospeso</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>prestazione_gratuita_visibile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Inserisci_i_dati_della_fattura_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inserisci_i_dati_della_fattura_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Data della Fattura</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Data_di_Competenza</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Data</elementReference>
                    </defaultValue>
                    <fieldText>Data di Competenza della Fattura</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inserisci_i_dati_della_fattura_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>invoice_number</name>
                    <dataType>String</dataType>
                    <fieldText>Numero Fattura</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2) OR (2 AND 3) OR 4</conditionLogic>
                        <conditions>
                            <leftValueReference>prestazione_gratuita</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>no_fattura_disponibile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>prestazione_gratuita_visibile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>programma_selezionato.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>nome_sorriso_sospeso</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Numero_Fattura_Gratuita</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice_number_gratuita</elementReference>
                    </defaultValue>
                    <fieldText>Numero Fattura Gratuita</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>prestazione_gratuita</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>prestazione_gratuita_visibile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Numero_Fattura_Non_Disponibile</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice_number_non_disponibile</elementReference>
                    </defaultValue>
                    <fieldText>Numero Fattura NON Disponibile</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>no_fattura_disponibile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>medical_center</name>
                    <extensionName>c:medicalCenter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedMedicalCenter</name>
                        <value>
                            <elementReference>selectedCenter</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedCenter</assignToReference>
                        <name>selectedMedicalCenter</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>programma_selezionato.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>nome_tempo_sospeso</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>no_profit</name>
                    <extensionName>c:noProfitSignaling</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedNoProfit</name>
                        <value>
                            <elementReference>signaling_selected</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedCategory</name>
                        <value>
                            <elementReference>signalingCategory_selected</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>signalingCategory_selected</assignToReference>
                        <name>selectedCategory</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>signaling_selected</assignToReference>
                        <name>selectedNoProfit</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>programma_selezionato.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>nome_tempo_sospeso</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Prosegui</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>On_Behalf</name>
        <label>On Behalf?</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>on_behalf_valorizzato</targetReference>
        </connector>
        <fields>
            <name>seleziona_partner</name>
            <choiceReferences>list_of_budgets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se stai inserendo una fattura per conto di un partner, selezionalo qui sotto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleziona_Programma</name>
        <label>Seleziona Programma</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Programma_selezionato</targetReference>
        </connector>
        <fields>
            <name>select_program</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Program</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleziona Programma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recupera_programmi</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b924&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Procedi</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Partner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Collega_Fattura_a_Donatore</name>
        <label>Collega Fattura a Donatore</label>
        <locationX>842</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>end</targetReference>
        </connector>
        <flowName>Collega_Fattura_a_Donatore</flowName>
        <inputAssignments>
            <name>programma_id_input</name>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>anno_name_input</name>
            <value>
                <elementReference>anno_competenza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>budget_anno_id_input</name>
            <value>
                <elementReference>Ottieni_Overview_Budget_Anno.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>budgetId</name>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>invoiceId_inizializzata</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Inserisci_Visite_Mediche_Flow_1</name>
        <label>Inserisci Visite Mediche</label>
        <locationX>446</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>Gratuita_donatore</targetReference>
        </connector>
        <flowName>Inserisci_Visite_Mediche</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>invoiceId_inizializzata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Insert_Biglietti_Abbonamenti</name>
        <label>Insert Biglietti/Abbonamenti</label>
        <locationX>710</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Gratuita_donatore</targetReference>
        </connector>
        <flowName>InsertTickets</flowName>
        <inputAssignments>
            <name>PartnerId</name>
            <value>
                <elementReference>Get_Account_Partner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>invoiceId_inizializzata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Ottieni_Lista_Enrolled_Programs</name>
        <label>Ottieni Lista Enrolled Programs</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Recupera_programmi</targetReference>
        </connector>
        <flowName>Ottieni_Lista_Enrolled_Programs</flowName>
        <inputAssignments>
            <name>accountId_input</name>
            <value>
                <elementReference>Get_Account_Partner.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Verifica_Unicit_Invoice_Number</name>
        <label>Verifica Unicità Invoice Number</label>
        <locationX>446</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Found_Invoice_Number</targetReference>
        </connector>
        <flowName>Verifica_Unicit_Invoice_Number</flowName>
        <inputAssignments>
            <name>inv_date_input</name>
            <value>
                <elementReference>Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inv_numb_input</name>
            <value>
                <elementReference>invoice_number_final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>med_center_input</name>
            <value>
                <elementReference>selectedCenter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programId_input</name>
            <value>
                <elementReference>programma_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>budget_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budget_to_assign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftDesignation</objectType>
    </variables>
    <variables>
        <name>budgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city_correct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>codice_casuale_generato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comune_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>created_visit_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default_budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftDesignation</objectType>
    </variables>
    <variables>
        <name>default_medical_center</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation_transaction_allocated_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_anno_id_selezionato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enrolled_programs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice_number_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>invoiceId_inizializzata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>list_campaign_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_visit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>list_visits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>new_invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>nome_programma_attivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_json</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prestazione_gratuita_visibile</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>program_enrolled_quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programma_selezionato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program</objectType>
    </variables>
    <variables>
        <name>provincia_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>regione_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selected_donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>selected_tipovisita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selected_tipovisita_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>signaling_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>signalingCategory_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>single_visit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>text_not_present</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non Presente</stringValue>
        </value>
    </variables>
    <variables>
        <name>varProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visit_created_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>visitId_created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
