mdapi/flows/InsertTickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Content_Document_Link</name>
        <label>Assign Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Manual_Tickets2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Manual_Tickets2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fields</name>
        <label>Assign fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentTicket</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Manual_Tickets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Show__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateShow.Show.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShowName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShowType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticketList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTicket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Manual_Tickets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables2</name>
        <label>Assign fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentTicket</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Tickets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.TicketAvailability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tickets.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTicket.Show__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tickets.outputSelectedRow.Show__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticketList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTicket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StructureId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tickets.outputSelectedRow.Structure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Tickets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_list</name>
        <label>Clear list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ticketList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ticketList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsManually</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStructureId</name>
        <label>Set StructureId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StructureId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_structure.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SecondScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTicketAvailabilitiesSIze</name>
        <label>Set Ticket Availabilities SIze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TicketAvailabilitiesSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TicketAvailabilities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetStructureRecordTypeId</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CreateStructureChoice</name>
        <label>Create Structure?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetStructureId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateStructure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StructureInsertChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Nuovo_Fornitore</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsManually</name>
        <label>Is Manually?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_Tickets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsManually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsertManually.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateShow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ShowTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Show__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Structures</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetStructureRecordTypeId.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TicketTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Ticket__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FilesNameText</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!File.fileNames}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;,&quot;, &quot;, &quot;)</expression>
    </formulas>
    <formulas>
        <name>ShowNameSelected</name>
        <dataType>String</dataType>
        <expression>IF({!InsertManually.value} = true, 
	{!ShowName}, 
	{!Tickets.outputSelectedRow.Show__r.Name}
)</expression>
    </formulas>
    <formulas>
        <name>StructureNameSelected</name>
        <dataType>String</dataType>
        <expression>IF({!InsertManually.value} = true, 
	IF({!StructureInsertChoice.value} = true, 
		&apos;&apos;,
		{!select_structure.selectedChoiceLabels}
	), 
	{!Tickets.outputSelectedRow.Structure__r.Name}
)</expression>
    </formulas>
    <formulas>
        <name>TicketAvailabilitiesIsEmpty</name>
        <dataType>Boolean</dataType>
        <expression>{!TicketAvailabilitiesSize} = 0</expression>
    </formulas>
    <formulas>
        <name>TotalAmountSelectedCommercial</name>
        <dataType>Currency</dataType>
        <expression>IF(
	OR(
		{!InsertManually.value} = true, 
		ISPICKVAL({!Tickets.outputSelectedRow.PaymentType__c}, &apos;Donato&apos;)
	),
	0,
	{!Tickets.outputSelectedRow.PriceFull__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalAmountSelectedDiscounted</name>
        <dataType>Number</dataType>
        <expression>IF(
	OR(
		{!InsertManually.value} = true, 
		ISPICKVAL({!Tickets.outputSelectedRow.PaymentType__c}, &apos;Donato&apos;)
	),
	0,
	IF(
		ISPICKVAL({!Tickets.outputSelectedRow.PaymentType__c}, &apos;Da pagare (a prezzo pieno)&apos;),
		{!Tickets.outputSelectedRow.PriceFull__c},
		{!Tickets.outputSelectedRow.PriceDiscounted__c}
	)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQuantittSelected</name>
        <dataType>Number</dataType>
        <expression>IF({!InsertManually.value} = true, 
	0,
	{!Tickets.outputSelectedRow.NumberUses__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Inserisci Biglietti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inserisci Biglietti/Abbonamentii</label>
    <loops>
        <name>Loop_Content_Document_Ids</name>
        <label>Loop Content Document Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>File.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Manual_Tickets2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Manual_Tickets</name>
        <label>Loop Manual Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TicketRepeater.tickets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Manual_Tickets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Manual_Tickets2</name>
        <label>Loop Manual Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ticketList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Tickets</name>
        <label>Loop Selected Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TicketRepeater.tickets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_variables2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tickets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Structure_to_Invoice</targetReference>
        </connector>
        <inputReference>ContentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Manual_Tickets</name>
        <label>Create Manual Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
        <inputReference>ticketList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tickets</name>
        <label>Create Multiple Tickets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Structure_to_Invoice</targetReference>
        </connector>
        <inputReference>ticketList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetStructureRecordTypeId</name>
        <label>Get Structure RecordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TicketsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Structure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TicketAvailabilities</name>
        <label>Ticket Availabilities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTicketAvailabilitiesSIze</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utilizzato</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prenotato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TicketAvailability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Structure_to_Invoice</name>
        <label>Add Structure to Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Structure__c</field>
            <value>
                <elementReference>StructureId</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Imposta_Fornitore_Non_validato</name>
        <label>Imposta Fornitore Non validato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SecondScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StructureId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ValidatedStructure__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SecondScreen</name>
        <label>Second Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_list</targetReference>
        </connector>
        <fields>
            <name>TicketRepeater</name>
            <extensionName>c:ticketRepeater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>invoiceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalQuantity</name>
                <value>
                    <elementReference>TotalQuantittSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showName</name>
                <value>
                    <elementReference>ShowNameSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>structureName</name>
                <value>
                    <elementReference>StructureNameSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalAmountDiscounted</name>
                <value>
                    <elementReference>TotalAmountSelectedDiscounted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalAmountCommercial</name>
                <value>
                    <elementReference>TotalAmountSelectedCommercial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isManual</name>
                <value>
                    <elementReference>InsertManually.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TicketsScreen</name>
        <label>TicketsScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateStructureChoice</targetReference>
        </connector>
        <fields>
            <name>InfoSection</name>
            <fieldText>Scelta Biglietto / Abbonamento</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InsertManually</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inserisci Biglietto/Abbonamento manualmente</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Si</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>TicketAvailabilitiesIsEmpty</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>TicketAvailabilitiesIsEmpty</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Type</name>
                    <choiceReferences>TicketTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InsertManually.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tickets</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>TicketAvailability__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>TicketAvailability__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isShowSearchBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showPagination</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showPagination</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRowNumbers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Structure__c,Show__c,TicketType__c,IssuanceType__c,PaymentType__c,NumberUses__c,PriceFull__c,PriceDiscounted__c,IsFree__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Structure__c:160, Show__c:160, TicketType__c:160, IssuanceType__c:160, PaymentType__c:160, NumberUses__c:165, PriceFull__c:160, PriceDiscounted__c:160, IsFree__c:160</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>TicketAvailabilities</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Offerte</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom45</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideClearSelectionButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideClearSelectionButton</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideHeaderActions</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideHeaderActions</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InsertManually.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>StructureSection</name>
            <fieldText>Fornitore</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>StructureSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StructureInsertChoice</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inserisci nuovo Fornitore</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Si</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>StructureSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>select_structure</name>
                    <choiceReferences>Structures</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Seleziona un Fornitore esistente</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StructureInsertChoice.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>StructureSection_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InsertManually.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowSection</name>
            <fieldText>Spettacolo / Abbonamento</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShowSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowName</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShowSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowType</name>
                    <choiceReferences>ShowTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShowSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowDateTime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Data e Ora</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Biglietto</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InsertManually.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileSection</name>
            <fieldText>Allegati</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FilesDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Allegare una prova di validità dei biglietti/abbonamenti (prova di acquisto, scontrino, foto o pdf dei biglietti, documento, ecc...)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Premi il pulsante o trascina un file per allegare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .jpg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StructureId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FileTextInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilesNameText</elementReference>
                    </defaultValue>
                    <fieldText>Allegati</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InsertManually.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TicketAvailabilities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crea_Nuovo_Fornitore</name>
        <label>Crea Nuovo Fornitore</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Imposta_Fornitore_Non_validato</targetReference>
        </connector>
        <flowName>NewSupplier</flowName>
        <outputAssignments>
            <assignToReference>StructureId</assignToReference>
            <name>FornitoreID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateShow</name>
        <label>Create Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Manual_Tickets</targetReference>
        </connector>
        <flowName>NewShow</flowName>
        <inputAssignments>
            <name>Datetime</name>
            <value>
                <elementReference>ShowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Name</name>
            <value>
                <elementReference>ShowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StructureId</name>
            <value>
                <elementReference>StructureId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>ShowType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ticket__c</objectType>
    </variables>
    <variables>
        <name>PartnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StructureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TicketAvailabilitiesSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ticketList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Ticket__c</objectType>
    </variables>
</Flow>
