mdapi/flows/Inserisci_Visite_Mediche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>not_present</name>
        <choiceText>Non Presente</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>text_not_present</elementReference>
        </value>
    </choices>
    <constants>
        <name>nome_sorriso_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sorriso Sospeso</stringValue>
        </value>
    </constants>
    <constants>
        <name>nome_tempo_sospeso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tempo Sospeso</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Gestisci_Azione_Pulsanti</name>
        <label>Gestisci Azione Pulsanti</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>isComplete_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prosegui</defaultConnectorLabel>
        <rules>
            <name>Annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>button_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annulla</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elimina_Fattura</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>isComplete_True</name>
        <label>isComplete True?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isComplete_True_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recupera_Visite</targetReference>
            </connector>
            <label>isComplete True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Visita_creato</name>
        <label>Tipo Visita creato?</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_su_Visite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupera_Tipo_Visita_creato.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Visita</targetReference>
            </connector>
            <label>Creato</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>donation_list</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftDesignationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budget_final</elementReference>
            </value>
        </filters>
        <object>GiftTransactionDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_of_budgets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>GiftDesignation</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipi_visita_list</name>
        <collectionReference>get_Tipi_Visita</collectionReference>
        <dataType>String</dataType>
        <displayField>Tipo_Visita__c</displayField>
        <object>Tipo_Visita__c</object>
        <valueField>Tipo_Visita__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>anno_competenza</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Recupera_Fattura.Data_di_Competenza__c}))</expression>
    </formulas>
    <formulas>
        <name>invoice_date_string</name>
        <dataType>String</dataType>
        <expression>TEXT({!Recupera_Fattura.Date__c})</expression>
    </formulas>
    <formulas>
        <name>invoice_number_gratuita</name>
        <dataType>String</dataType>
        <expression>&quot;GRATUITA-&quot;&amp; {!codice_casuale_generato}</expression>
    </formulas>
    <interviewLabel>Inserisci Visite Mediche {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inserisci Visite Mediche</label>
    <loops>
        <name>Loop_su_Visite</name>
        <label>Loop su Visite</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Recupera_Visite</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_Tipo_Visita</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Elimina_Fattura</name>
        <label>Elimina Fattura</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
    </recordDeletes>
    <recordLookups>
        <name>get_Tipi_Visita</name>
        <label>get Tipi Visita</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserisci_le_Visite</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tipo_Visita__c</object>
        <sortField>Tipo_Visita__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Fattura</name>
        <label>Recupera Fattura</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Tipi_Visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Tipo_Visita_creato</name>
        <label>Recupera Tipo Visita creato</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_Visita_creato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>created_visit_type_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tipo_Visita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Visite</name>
        <label>Recupera Visite</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_su_Visite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Visita</name>
        <label>Aggiorna Visita</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Loop_su_Visite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_su_Visite.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_Visita__c</field>
            <value>
                <elementReference>Recupera_Tipo_Visita_creato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Type__c</field>
            <value>
                <elementReference>Recupera_Tipo_Visita_creato.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Visit__c</object>
    </recordUpdates>
    <screens>
        <name>Inserisci_le_Visite</name>
        <label>Inserisci le Visite</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Gestisci_Azione_Pulsanti</targetReference>
        </connector>
        <fields>
            <name>crea_visite</name>
            <extensionName>c:visitaRepeater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>visitaId</name>
                <value>
                    <elementReference>visitaId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createdVisitaIds</name>
                <value>
                    <elementReference>visitId_created</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isComplete</name>
                <value>
                    <elementReference>isComplete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceDate</name>
                <value>
                    <elementReference>invoice_date_string</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>gratuita</name>
                <value>
                    <elementReference>Recupera_Fattura.Prestazione_Gratuita__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>invoiceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>visitId_created</assignToReference>
                <name>createdVisitaIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isComplete</assignToReference>
                <name>isComplete</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Completa&quot;,&quot;value&quot;:&quot;Completa&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Annulla&quot;,&quot;value&quot;:&quot;Annulla&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>button_action</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Completa</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Fattura</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Crea_Tipo_Visita</name>
        <label>Crea Tipo Visita</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Recupera_Tipo_Visita_creato</targetReference>
        </connector>
        <flowName>Crea_Tipo_Visita</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_su_Visite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>show_Screen</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>created_visit_type_id</assignToReference>
            <name>created_visit_type_id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>budget_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>button_action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city_correct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>codice_casuale_generato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comune_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>created_visit_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation_transaction_allocated_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donatore_anno_id_selezionato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice_number_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>list_visit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>list_visits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>output_json</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provincia_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regione_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selected_tipovisita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selected_tipovisita_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>single_visit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>text_not_present</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non Presente</stringValue>
        </value>
    </variables>
    <variables>
        <name>visit_created_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__c</objectType>
    </variables>
    <variables>
        <name>visitaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitId_created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
