mdapi/flows/Mostra_Totali_Donatore_Anno.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Mostra Totali Donatore Anno {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mostra Totali Donatore Anno</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Overview</name>
        <label>Ottieni Overview</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Totale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Totale</name>
        <label>Totale</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;Questa pagina mostra i totali relativi al donatore &lt;strong&gt;{!Ottieni_Overview.Account__r.Nome_Donatore__c}&lt;/strong&gt;, che includono tutte le sue attività relative al Programma &lt;strong&gt;{!Ottieni_Overview.Programma__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Totale_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Totale_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totale_fatturato</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Donato:&lt;/em&gt;&lt;/strong&gt; Ammontare Originale versato dal donatore -&amp;gt; €{!Ottieni_Overview.Ammontare_Originale_Donato_Anno_Corrente__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Allocabile:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare al netto della trattenuta -&amp;gt; €{!Ottieni_Overview.Current_Year_Donation_Amount__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;﻿Num Donazioni:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero di Donazioni fatte -&amp;gt; {!Ottieni_Overview.Current_Year_Donation_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Fatturato:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Ammontare totale delle Fatture associate al donatore nel programma -&amp;gt; €{!Ottieni_Overview.Total_Invoice_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Totale_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totali_donazioni</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Num Fatture:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; &lt;/em&gt;Numero delle Fatture associate al donatore nel programma -&amp;gt; {!Ottieni_Overview.Totale_Numero_di_Fatture__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;NON Fatturati: &lt;/em&gt;&lt;/strong&gt;Ammontare corrispondente a budget donato ma non avente Fatture associate sul donatore. Può indicare Capienza effettiva o una mancata associazione di Fatture al donatore -&amp;gt; €{!Ottieni_Overview.Available_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>overview_donatore_anno</name>
            <extensionName>c:overview_Donatore_Anno</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</name>
        <label>Aggiorna Valori Statici Donatore Anno - autolaunched</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Ottieni_Overview</targetReference>
        </connector>
        <flowName>Aggiorna_Valori_Statici_Donatore_Anno_autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ammontare_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_fatture</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ammontare_originale_donato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numero_donazioni</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numero_fatture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totale_minuti_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totale_visite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
