mdapi/flows/Rimuovi_Transazione_e_Distribuzione_Donazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Rimuovi Transazione e Distribuzione - Donazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rimuovi Transazione e Distribuzione - Donazione</label>
    <loops>
        <name>Cancella_distribuzioni</name>
        <label>Cancella distribuzioni</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>recupera_distribuzioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cancella_distribuzione_corrente</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>delete_transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>cancella_distribuzione_corrente</name>
        <label>cancella distribuzione corrente</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Cancella_distribuzioni</targetReference>
        </connector>
        <inputReference>Cancella_distribuzioni</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>delete_transaction</name>
        <label>delete transaction</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>Recupera_Transazione</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>recupera_distribuzioni</name>
        <label>recupera distribuzioni</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancella_distribuzioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftTransactionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupera_Transazione.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftTransactionDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupera_Transazione</name>
        <label>Recupera Transazione</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recupera_distribuzioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupera_Transazione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
